{namespace s=Subugoe\Find\ViewHelpers}
<f:if condition="{results.components.facetset.facets}">
	<section class="facets">
		<h3 class="invisible">
			<f:translate key="Facets"/>
			<a href="#c{uid}-resultList">
				<f:translate key="Jump to results"/>
			</a>
		</h3>
		<f:for each="{facets}" as="facetInfo" key="facetKey">
			<f:if condition="{facetInfo.hidden}!=1">
				<f:render
					partial="Facets/Facet"
					arguments="{
						facetData:'{s:valueForKey(array:results.components.facetset.facets, key:facetInfo.id)}',
						facetInfo:facetInfo,
						activeFacets: activeFacets,
						arguments: arguments,
						uid: uid
					}"/>
			</f:if>
		</f:for>
	</section>
</f:if>