{namespace s=Subugoe\Find\ViewHelpers}
<div class="pager listPager">
	<f:alias map="{pager:'{s:find.pageList(currentPage:arguments.page, perPage:settings.paging.perPage, resultCount:results.numfound)}'}">
		<span class="previous">
			<f:if condition="{pager.previous}">
				<f:then>
					<f:link.action
						arguments="{page:pager.previous}"
						addQueryString="TRUE"
						section="{settings.jumpToID}"
						noCacheHash="1"
						class="icon-left-dir internal"
						title="{f:translate(key:'Go to previous page of results. (Page %s)', arguments:'{1:pager.previous}')}"
					/>
				</f:then>
				<f:else>
					<a class="icon-left-dir"></a>
				</f:else>
			</f:if>
		</span>
		<ol class="listPager page-count-{f:count(subject:pager.pages)}">
			<f:for each="{pager.pages}" as="page">
					<li class="{f:if(condition:'{page.current}', then:'current')} {f:if(condition:'{page.gap}', then:'gap')}">
					<f:if condition="{current:page.current, gap:page.gap} == {current:FALSE , gap:FALSE}">
						<f:then>
							<f:link.action
								arguments="{page:page.number}"
								addQueryString="TRUE"
								section="{settings.jumpToID}"
								noCacheHash="1"
								class="internal"
							>
								{page.text}
							</f:link.action>
						</f:then>
						<f:else>
							<a>{page.text}</a>
						</f:else>
					</f:if>
				</li>
			</f:for>
		</ol>
		<span class="next">
			<f:if condition="{pager.next}">
				<f:then>
					<f:link.action
						arguments="{page:pager.next}"
						addQueryString="TRUE"
						section="{settings.jumpToID}"
						noCacheHash="1"
						class="icon-right-dir internal"
						title="{f:translate(key:'Go to next page of results. (Page %s)', arguments:'{1:pager.next}')}"
					/>
				</f:then>
				<f:else>
					<a class="icon-right-dir"></a>
				</f:else>
			</f:if>
		</span>
	</f:alias>
</div>