{namespace s=Subugoe\Find\ViewHelpers}

<s:data.newArray keys="{0:'page'}" values="{0:1}" name="page1" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:2}" name="page2" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:3}" name="page3" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:4}" name="page4" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:5}" name="page5" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:6}" name="page6" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:7}" name="page7" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:8}" name="page8" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:9}" name="page9" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:10}" name="page10" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:11}" name="page11" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:12}" name="page12" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:13}" name="page13" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:22}" name="page22" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:23}" name="page23" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:24}" name="page24" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:25}" name="page25" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:249}" name="page249" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:250}" name="page250" global="TRUE"/>
<s:data.newArray keys="{0:'page'}" values="{0:251}" name="page251" global="TRUE"/>

<s:data.newArray keys="{0:'numfound'}" values="{0:0}" name="results0" global="TRUE"/>
<s:data.newArray keys="{0:'numfound'}" values="{0:1}" name="results1" global="TRUE"/>
<s:data.newArray keys="{0:'numfound'}" values="{0:19}" name="results19" global="TRUE"/>
<s:data.newArray keys="{0:'numfound'}" values="{0:20}" name="results20" global="TRUE"/>
<s:data.newArray keys="{0:'numfound'}" values="{0:21}" name="results21" global="TRUE"/>
<s:data.newArray keys="{0:'numfound'}" values="{0:252}" name="results252" global="TRUE"/>
<s:data.newArray keys="{0:'numfound'}" values="{0:2555}" name="results2555" global="TRUE"/>



<h1>No results</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page1, 1:settings , 2:results0}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>


<h1>1 Result</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page1, 1:settings , 2:results1}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>19 Results</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page1, 1:settings , 2:results19}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>20 Results</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page1, 1:settings , 2:results20}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>21 Results, page 1</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page1, 1:settings , 2:results21}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>21 Results, page 2</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page2, 1:settings , 2:results21}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>



<h1>252 Results, page 2</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page2, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 3</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page3, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 4</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page4, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 5</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page5, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 6</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page6, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 7</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page7, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 8</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page8, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 9</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page9, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 10</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page10, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 11</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page11, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 12</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page12, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>

<h1>252 Results, page 13</h1>
<s:data.newArray keys="{0:'arguments', 1:'settings', 2:'results'}" values="{0:page13, 1:settings , 2:results252}" name="pagerArguments">
	<f:render partial="Pager/ListPager" arguments="{pagerArguments}"/>
</s:data.newArray>
