@font-face {
	font-family: 'TransliterationFont';
	src: url('Fonts/TransliterationTimesItalic.woff');
	src: url('Fonts/TransliterationTimesItalic.eot') format('embedded-opentype'),
		 url('Fonts/TransliterationTimesItalic.woff') format('woff'),
		 url('Fonts/TransliterationTimesItalic.ttf') format('truetype'),
		 /* TODO: make SVG font work: for some reason Times appears in the browser */
		 url('Fonts/TransliterationTimesItalic.svg#tti') format('svg');
	font-weight: normal;
	font-style: normal;
}

$larger: 133%;
$dash: '\2014'; /* — */
$dashspace: 0.3em;
$more: '\2026'; /* … */
$adwRed: #c90230;

.dashbefore {
	&:before {
		content: $dash;
		padding-right: $dashspace;
	}
} 

.brackets {
	&:before {
		content: '(';
	}
	
	&:after {
		content: ')';
	}
}

$labelWidth: 120px;

.tx_find {
	
	form {
		.fieldContainer {
			.fieldLabel {
				width: $labelWidth;
			}

			.inputType-text {
				width: 400px;
				height: 30px;
				margin: 0px 6px 2px 0px;
				padding: 4px;
				font-size: 100%;
			}
			
			.inputContainer {
				margin-left: $labelWidth + 10px;
			}
			
			&.field-mode-simple label {
				display: inline;
				padding-top: 8px;
				line-height: 100%;
			}
		}
		
		.controls {
			position: absolute;
			bottom: 4px;
			left: 670px;
		}
	}

	.facet-type-Tabs ol li.facetActive {
		background: $adwRed;
	}
	
	dl {
		dt {
			float: left;
			clear: left;
			width: 160px;
			margin: 0;
			text-align: right;
		}

		dd {
			margin: 0 0 1em 0;
			padding-left: 170px;
			min-height: 1em;

			ul {
				padding: 0;

				li {
					list-style-type: none;
					padding: 0 0 0 2em;
					text-indent: -2em;
				}
			}
		}
	}

	.field-transliteration,
	.transliteration,
	.field-weiteres,
	.field-translit input
	{
		font-family: TransliterationFont;
	}

	ol.resultList {
		float: left;
		width: 660px;
		margin: 0;

		li {
			position: relative;
			clear: right;
			margin-bottom: 1.5em;

			span.block {
				display: block;
			}

			h1 {
				font-size: 133%;

				.technical {
					position: relative;
					float: right;
					margin-left: 1em;
					font-size: 75%;

					.bandseitezeile {
						color: #333;
						font-weight: bold;
					}

					.bandseitezeile.multiple:after {
						position: absolute;
						top: 0;
						right: -1em;
						content: $more;
					}

					.field-texttyp {
						color: #999;
						font-style: italic;
					}

					.field-texttyp:after {
						padding-left: $dashspace;
						content: $dash;
					}
				}

				.field-beziehung,
				.field-berlin_display {
					font-size: 75%;
					color: #666;
				}
			}

			p {
				color: #000;
				font-weight: normal;
			}

			.hieroglyph {
				height: 32px;
				float: right;
			}

			.details {
				color: #999;

				&:hover {
					color: $adwRed;
				}

				&:before {
					margin-right: 0;
					font-size: 80%;
				}
			}

			.removeRecord {
				display: none;
				position: absolute;
				top: 1em;
				left: -2.3em;
				padding: 20px 10px 5px 5px;
			}

			&:hover .removeRecord {
				display: block;
				color: #bbb;

				&:hover {
					color: $adwRed;
				}
			}
		}
	}

	section {
		margin-bottom: 2em;
	}
		
	.detail {
		margin-top: 2em;

		.field-transliteration {
			font-size: $larger;
		}

		.field-beziehung {
			@extend .dashbefore;
		}

		&.formular {
			h1 {
				ul {
					display: inline;
					margin: 0;
					padding: 0;
					list-style-type: none;

					li {
						display: inline;
						font-size: $larger;
					}
				}

			}

			.field-texttyp {
				@extend .dashbefore;
				font-style: italic;
			}

			.field-transliteration {
				display: block;
				margin-top: 1em;
			}

			.field-uebersetzung {
				display: block;
				margin-top: 1em;
			}
		}

		&.wort {
			.hieroglyph {
				float: right;
			}

			.zweifel {
				@extend .brackets;
			}
		}
	}

	ul.photo-collections {
		padding: 0;
		
		li {
			list-style-type: none;
		}

		ul.photos {
			padding: 0;
			
			li {
				display: inline;
				padding: 0;
			}
		}
	}
	
	.imageControls {
		display: none;
		margin: 0 auto 1em auto;
		text-align: center;

		.control-container {
			display: inline-block;
			margin: 0 0.5em;

			.slider {
				display: inline-block;
				top: 3px;
				width: 200px;
			}
		}
	}

	.fotorama-container {
		position: relative;

		.fotorama {
			padding: 0;

			.fotorama__caption {
				opacity: 1;
				right: 0;
				left: 0;
				text-align: center;
				transition-duration: 0.3s;
			}

			.fotorama__nav {
				.fotorama__caption {
					padding: 0;
					font-size: 12px;
				}
			}

			.fotorama__thumb-border {
				margin-top: 2px;
				padding-right: 1px
			}
			
			.fotorama__html {
				background: #eee;
			}

			.imageName {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 2em;
				text-align: center;
			}
		}

		.new-window {
			display: none;
			position: absolute;
			top: 8px;
			right: 8px;
			z-index: 1000;
			color: #fff;
			font-size: 18px;
			text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
		}
	}

	.chassinat {
		ol {
			display: inline;
			margin-left: 0.3em;
			padding: 0;

			li {
				display: inline;

				&:after {
					content: '\2027';
				}
				&:last-child:after {
					content: '';
				}
			}
		}

		.chassinatPageViewer {
			.chassinatPager {
				margin: 1em 0;
				text-align: center;
			}

			.imageContainer {
				position: relative;
				display: block;
				margin: 0 30px;
				overflow: hidden;
				height: 1200px;

				img {
					position: absolute;
					top: -50px;
					left: auto;
					right: auto;
					height: 1280px;
				}
			}
		}
	}

	article.fields {
		padding-top: 1em;

		dl {
			margin-top: 1em;

			dt {
				width: 200px;
			}

			dd {
				padding-left: 210px;

				ul {
					padding-left: 2em;

					li {
						list-style-type: square;
					}
				}
			}
		}
	}
}

.powerzoomer {
	display: none;
	position: absolute;
	z-index: 1000;
	overflow: hidden;
	border: 2px solid #fff;
	box-shadow: #000 1px 1px 4px;

	.inner {
		position:relative;
		left:0;
		top:0;
	}
}

section.map {
	position: relative;
	
	.mapContainer {
		display: inline-block;
		position: relative;

		.szene {
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			
			&.pointer-0 {
				margin-top: 0;
				margin-left: -5px;
			}
			&.pointer-90 {
				margin-top: -8px;
				margin-left: -10px;
			}
			&.pointer-180 {
				margin-top: -5px;
				margin-left: -10px;
			}
			&.pointer-270 {
				margin-top: -8px;
				margin-left: 0px;
			}
		}
	}

	.detailsContainer {
		position: absolute;
		right: 0;
		top: 0px;
		height: 900px;
		width: 500px;
		
		h2 {
			text-align: center;
			font-size: 120%;
		}
		
		.imageContainer {
			position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			margin: 0 auto;

			img {
				display: block;
				width: 100%;
			}
		
			.szeneMarker {
				position: absolute;
				background: rgb(255, 0, 0);
				opacity: 0;

				&:hover {
					opacity:0.2;
				}
				
				&.highlighted {
					opacity: 0.6;
					&:hover, &.active {
						opacity: 1;
					}
				}
			}
		}
	}
					
	.legendeHoehe {
		.verlaufHoehe {
			position: relative;
			top: 5px;
			display: inline-block;

			.label {
				position: absolute;
				display: block;
				font-weight: bold;
				color: #fff;

				&.unten {
					left: 3px;
					text-align: left;
				}

				&.oben {
					right: 3px;
					text-align: right;
				}
			}

			height: 20px;
			width: 200px;
			
			background: #ff0000; /* Old browsers */
			background: -moz-linear-gradient(left,  hsl(0,100%,50%) 0%, hsl(260,100%,50%) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsl(0,100%,50%)), color-stop(100%,hsl(260,100%,50%))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  hsl(0,100%,50%) 0%,hsl(260,100%,50%) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  hsl(0,100%,50%) 0%,hsl(260,100%,50%) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  hsl(0,100%,50%) 0%,hsl(260,100%,50%) 100%); /* IE10+ */
			background: linear-gradient(to right,  hsl(0,100%,50%) 0%,hsl(260,100%,50%) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#5400ff',GradientType=1 ); /* IE6-9 */
		}
	}

}
