{namespace s=Tx_Find_ViewHelpers}
<f:if condition="{facetInfo.autocomplete}">
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<f:render partial="Facets/Facet/ListAutocomplete" arguments="{_all}"/>
	</f:if>
</f:if>

<ol class="facetList{f:if(condition:facetInfo.autocomplete, then:' autocomplete')}">
	<f:for each="{facetData.values}" as="itemCount" key="facetTermOriginal" iteration="iterator">
		<f:alias map="{
			facetTerm:'{f:if(
				condition:facetInfo.sortPrefixSeparator,
				then:1,
				else:facetTermOriginal
			)}'
		}">
			<f:render partial="Facets/Facet/ListItem" arguments="{_all}"/>
		</f:alias>
	</f:for>
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<li class="facetShowAll">
			<a href="#" onclick="return tx_find.showAllFacetsOfType(event)">
				<f:translate key="show all"/>
			</a>
		</li>
	</f:if>
</ol>
