{namespace s=Subugoe\Find\ViewHelpers}
<f:if condition="{facetInfo.autocomplete}">
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<f:render partial="Facets/Facet/ListAutocomplete" arguments="{_all}"/>
	</f:if>
</f:if>

<ol class="facetList{f:if(condition:facetInfo.autocomplete, then:' autocomplete')}">
	<f:for each="{facetData.values}" as="itemCount" key="facetTerm" iteration="iterator">
		<f:alias map="{
			facetTermDisplay:'{f:if(
				condition:facetInfo.sortPrefixSeparator,
				then:\"{s:format.regexp(
					string:facetTerm,
					match:\'/^.*?{facetInfo.sortPrefixSeparator}/\',
					replace:\'\'
				)}\",
				else:facetTerm
			)}'
		}">
			<f:render partial="Facets/Facet/ListItem" arguments="{_all}"/>
		</f:alias>
	</f:for>
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<li class="facetShowAll">
			<a href="#" onclick="return tx_find.showAllFacetsOfType(event)">
				<f:translate key="show all"/>
			</a>
		</li>
	</f:if>
</ol>
