{namespace s=Tx_Find_ViewHelpers}
<li class='index-{iterator.cycle} count-{itemCount}
	<f:if condition="{s:facetIsActive(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:activeFacets)}">
		<f:then>facetActive</f:then>
	</f:if>
	<f:if condition="{facetInfo.displayDefault}">
		<f:then>
			<f:if condition="{iterator.cycle} > {facetInfo.displayDefault}">
				<f:then>hidden</f:then>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{iterator.cycle} > {settings.facetDefaults.displayDefault}">
				<f:then>hidden</f:then>
			</f:if>
		</f:else>
	</f:if>'
	value="{facetTerm}"
	label="{f:translate(key:'LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}.{facetTerm}', default:facetTerm)}"
	count="{itemCount}">
	<f:if condition="{s:facetIsActive(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:activeFacets)}">
		<f:then>
			<f:link.action
				addQueryString="TRUE"
				argumentsToBeExcludedFromQueryString="{s:facetLinkArguments(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:activeFacets, mode:'remove')}"
				section="{settings.jumpToID}"
				noCacheHash="1"
				class="icon-cancel facetRemove internal"
				title="{f:translate(key:'remove filter %s', arguments:{0:facetTerm})}"><span class="facetName"><f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}.{facetTermDisplay}" default="{facetTermDisplay}"/></span></f:link.action>
		</f:then>
		<f:else>
			<f:link.action
				addQueryString="TRUE"
				arguments="{s:facetLinkArguments(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:activeFacets)}"
				argumentsToBeExcludedFromQueryString="{0:'tx_find_find[page]'}"
				section="{settings.jumpToID}"
				noCacheHash="1"
				class="facetAdd internal">
				<f:translate
					key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}.{facetTermDisplay}"
					default="{facetTermDisplay}"/>&nbsp;<span class="facetCount">{itemCount}</span>
			</f:link.action>
		</f:else>
	</f:if>
</li>
