{namespace s=Subugoe\Find\ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<f:comment>
	Creates a map facet.

	It expects the configured facet field to contain geohashes in all available lenghts
	prefixed by the zero-padded hash length and a hyphen. E.g.:

		"geohash": [
			"01-u",
			"02-u3",
			"03-u39",
			"04-u392",
			"05-u392t",
			"06-u392tk",
			"07-u392tk8",
			"08-u392tk8e",
			"09-u392tk8e6",
			"10-u392tk8e6n",
			"11-u392tk8e6n1",
			"12-u392tk8e6n18"
		]

	The facet must be configured to return items sorted by index order. The higher the number
	of facet values that are fetched the more granular the displayed results will be.

	Sample TypoScript configuration:
	
		plugin.tx_find.settings.facet {
			10 {
				id = map
				field = geohash
				type = Map
				sortOrder = index
				fetchMaximum = 1000
			}
		}
</f:comment>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Public/JavaScript/js-geohash/geohash.js">
	tx_find_facetMap.init ({
		container: jQuery('.facet-id-{facetInfo.id} .mapContainer')[0],
		queryURLTemplate: {s:format.json(data:"{f:uri.action(
			addQueryString:TRUE,
			arguments:'{
				q:\'{raw:\"###TERM###\"}\',
				count:1000
			}',
			action:'index',
			pageType:'1369315139',
			format:'data',
			noCacheHash:'1'
		)}")},
		facetData: {s:format.json(data:facetData.values)},
		facetFetchMaximum: {facetInfo.fetchMaximum}
	});
</t3jquery:addJQueryAndScript>
<div class="facetMap-container">
	<div class="mapContainer"></div>
</div>