{namespace s=Subugoe\Find\ViewHelpers}
<ol class="facetTabs">
	<f:for each="{facetData.values}" as="itemCount" key="facetTerm" iteration="iterator">
		<li class="{f:if(
			condition:'{s:find.facetIsActive(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:config.activeFacets)}',
			then:'facetActive'
		)}">
			<f:link.action
				addQueryString="TRUE"
				argumentsToBeExcludedFromQueryString="{s:find.facetLinkArguments(facetID:facetInfo.id, activeFacets:config.activeFacets, mode:'remove')}"
				arguments="{s:find.facetLinkArguments(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:config.activeFacets)}"
				section="{settings.jumpToID}"
				noCacheHash="1"
				class="internal"
			>
				<f:translate
					key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}.{facetTerm}"
					default="{facetTerm}"/>
				<span class="facetCount">{itemCount}</span>
			</f:link.action>
		</li>
	</f:for>
</ol>