.field-mode-extended {
	display: none;
}

div.main {
	margin-right: 325px;
}

aside {
	float: right;
	width: 300px;
}

aside h2 {
	display: none;
}

.map {
	height: 300px;
	background: #fff;
}

article section {
	margin-bottom: 1em;
}

article section>* {
	line-height: 1.5;
	margin: 0 0 0 12em;
	padding: 0;
}

article section h2 {
	float: left;
	clear: left;
	width: 11em;
	margin-left: 0;
	font-size: 100%;
	text-align: right;
}

.lage ol,
.orden ol,
.literatur ul,
.link ul {
	padding: 0;
	list-style-type: none;
}

.literatur {
	word-wrap: break-word;
}

.ort,
.orden,
.band-nummer {
	font-weight: bold;
}

li p {
	margin-bottom: 0.5em;
}

.band-link .band-titel:after,
.band-titel:after {
	content: ', ';
}

.band-link:last-child .band-titel:after,
p>.band-titel:last-of-type:after {
	content: '';
	background: red;
}