{namespace s=Tx_Find_ViewHelpers}
<f:if condition="{document.fields.szene_uid}">
	<s:transpose name="szenen" arrays="{
		uid: document.fields.szene_uid,
		nummer: document.fields.szene_nummer,
		beschreibung: document.fields.szene_beschreibung,
		bild_name: document.fields.szene_bild_name,
		bild_dateiname: document.fields.szene_bild_dateiname,
		bild_hoehe: document.fields.szene_bild_hoehe,
		bild_breite: document.fields.szene_bild_breite,
		bild_offset_x: document.fields.szene_bild_offset_x,
		bild_offset_y: document.fields.szene_bild_offset_y,
		bild_rect: document.fields.szene_bild_rect,
		koordinate_x: document.fields.szene_koordinate_x,
		koordinate_y: document.fields.szene_koordinate_y,
		breite: document.fields.szene_breite,
		hoehe: document.fields.szene_hoehe,
		prozent_z: document.fields.szene_prozent_z,
		blickwinkel: document.fields.szene_blickwinkel
	}">
		<section class="map">
			<h1>
				<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Tempelplan"/>
			</h1>
			<div class="mapContainer">
				<f:image src="EXT:find/Projects/edfu/Resources/tempel/tempel.png" alt="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Tempelplan')}"/>
				<f:for each="{szenen}" as="szene">
					<f:alias map="{colour:'hsl(-{szene.prozent_z}, 100%, 50%)'}">
						<f:link.action
							arguments="{
								q:'{szene:szene.uid}',
								facets:'{s:newArray(keys:\"{0:document.fields.typ}\", values:\"{0:1}\")}'
							}"
							section="{jumpToID}"
							noCacheHash="1"
							id="szene-{szene.uid}"
							class="szene pointer-{szene.blickwinkel}"
							style="
								{f:if(condition:'{szene.blickwinkel}==0', then:'
									border-width: 0px 5px 10px 5px;
									border-color: transparent transparent {colour} transparent;')}
								{f:if(condition:'{szene.blickwinkel}==90', then:'
									border-width: 5px 0px 5px 10px;
									border-color: transparent transparent transparent {colour};')}
								{f:if(condition:'{szene.blickwinkel}==180', then:'
									border-width: 10px 5px 0px 5px;
									border-color: {colour} transparent transparent transparent;')}
								{f:if(condition:'{szene.blickwinkel}==270', then:'
									border-width: 5px 10px 5px 0px;
									border-color: transparent {colour} transparent transparent;')}
								top:{szene.koordinate_y}px;
								left:{szene.koordinate_x}px;
							"
							additionalAttributes="{
								data-marker:'{s:json(data:szene)}',
								data-bild_dateiname:szene.bild_dateiname
							}"
							title="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Szene')}: {szene.beschreibung}."
						/>
					</f:alias>
				</f:for>
			</div>
			<div class="detailsContainer"></div>
			<div class="legendeHoehe">
				<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Höhe"/>:
				<div class="verlaufHoehe">
					<span class="label unten"><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:unten"/></span>
					<span class="label oben"><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:oben"/></span>
				</div>
			</div>
		</section>
	</s:transpose>
</f:if>
