{namespace s=Tx_Find_ViewHelpers}
<f:if condition="{document.fields.szene_uid}">
	<s:transpose name="szenen" arrays="{
		uid: document.fields.szene_uid,
		nummer: document.fields.szene_nummer,
		beschreibung: document.fields.szene_beschreibung,
		bild_name: document.fields.szene_bild_name,
		bild_rect: document.fields.szene_bild_rect,
		koordinateX: document.fields.szene_koordinateX,
		koordinateY: document.fields.szene_koordinateY,
		breite: document.fields.szene_breite,
		hoehe: document.fields.szene_hoehe,
		prozentZ: document.fields.szene_prozentZ,
		blickwinkel: document.fields.szene_blickwinkel
	}">
		<section class="map">
			<h1>
				<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Tempelplan"/>
			</h1>
			<div class="imageContainer">
				<f:image src="EXT:find/Projects/edfu/Resources/tempel/tempel.png" alt="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Tempelplan')}"/>
				<f:for each="{szenen}" as="szene">
					<f:link.action
						arguments="{
							q:'{raw:\"szene_uid:{szene.uid}\"}',
							facets:'{s:newArray(keys:\"{0:document.fields.typ}\", values:\"{0:1}\")}'
						}"
						section="{jumpToID}"
						noCacheHash="1"
						class="szene icon-pointer-{szene.blickwinkel}"
						style="top:{szene.koordinateY}px;
						       left:{szene.koordinateX}px;
							   color:hsl(-{szene.prozentZ}, 100%, 50%);"
						additionalAttributes="{data-marker:'{s:json(data:szene)}'}"
						title="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Szene')}: {szene.beschreibung}; {f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Höhe')}: {s:regexp(string:szene.hoehe, match:'/^(0\.\\d\\d?).*$/', replace:'\\1')}"/>
				</f:for>
			</div>
			<div class="imageDetail"></div>
			<div class="legendeHoehe">
				<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Höhe"/>:
				<div class="verlaufHoehe">
					<span class="label unten"><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:unten"/></span>
					<span class="label oben"><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:oben"/></span>
				</div>
			</div>
		</section>
	</s:transpose>
</f:if>
