{namespace s=Tx_Find_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<s:pageTitle>{document.fields.id} – {pageTitle}</s:pageTitle>

	<s:newArray name="formFacets"
		keys="{0:'typ'}"
		values="{0:'{s:newArray(keys:\"{0:document.fields.typ}\", values:\"{0:1}\")}'}"
	>
		<f:render partial="Page/Standard" arguments="{_all}"/>
	</s:newArray>
	<f:debug>{_all}</f:debug>


	<f:render partial="Components/DetailResultPager" arguments="{_all}"/>

	<article class="detail {document.fields.typ}" id="c{uid}-record-{document.fields.id}">
		<f:render partial="Edfu/Detail/{document.fields.typ}" arguments="{_all}"/>
		<a onclick="jQuery('article.fields').slideToggle(); return false;" href="#">Alle Felder</a>
	</article>

	<article class="fields" style="display:none;">
		<hr>
		<dl>
			<f:for each="{document.fields}" as="value" key="fieldName">
				<f:render partial="Display/DLField" arguments="{results:results, document:document, field:fieldName}"/>
			</f:for>
		</dl>
	</article>
</f:section>