{namespace s=Tx_Find_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
<f:debug>{_all}</f:debug>
	<s:pageTitle>
		<f:render partial="Components/QueryString" arguments="{query:arguments.q, facets:activeFacets}"/>
		–
		{pageTitle}
	</s:pageTitle>

	<s:newArray name="formFacetsInnerArray"
		keys="{0:'{s:valueForKey(array:\"{s:arrayFirst(array:activeFacets.typ)}\", key:\"term\")}'}"
		values="{0:1}"
	>
		<s:newArray name="formFacets" keys="{0:'typ'}" values="{0:formFacetsInnerArray}">
			<f:render partial="Page/Standard" arguments="{_all}"/>
		</s:newArray>
	</s:newArray>

	<div class="results">
		<div class="navigation top"/>
			<f:render partial="Components/ResultCount" arguments="{_all}"/>
			<f:render partial="Pager/ListPager" arguments="{_all}"/>
		</div>

		<section class="facets-typ">
			<f:render
				partial="Facets/Facet"
				arguments="{
					facetData: '{s:valueForKey(array:results.components.facetset.facets, key:facets.10.id)}',
					facetInfo: facets.10,
					activeFacets: activeFacets}"
			/>
		</section>
		
		<f:render partial="Facets/Facets" arguments="{_all}"/>

		<ol id="c{uid}-resultList" class="resultList" start="{counterStart}">
			<f:for each="{results.documents}" as="document">
				<f:render partial="Edfu/Result" arguments="{_all}"/>
			</f:for>
		</ol>

		<div class="navigation bottom"/>
			<f:render partial="Pager/ListPager" arguments="{_all}"/>
		</div>
	</div>
</f:section>
