[submodule "Resources/Public/JavaScript/flot"]
	path = Resources/Public/JavaScript/flot
	url = git://github.com/flot/flot.git
[submodule "Resources/Public/JavaScript/jquery.chosen"]
	path = Resources/Public/JavaScript/jquery.chosen
	url = git://github.com/harvesthq/chosen.git
[submodule "Resources/Public/JavaScript/js-geohash"]
	path = Resources/Public/JavaScript/js-geohash
	url = git@github.com:y-matsuwitter/js-geohash.git
[submodule "Projects/germania-sacra"]
	path = Projects/germania-sacra
	url = git@github.com:ssp/typo3-find-germania-sacra.git
