language: php

matrix:
  fast_finish: true
  include:
    - php: 7.4
      env: TYPO3_VERSION=^10
    - php: 7.3
      env: TYPO3_VERSION=^10
    - php: 7.2
      env: TYPO3_VERSION=^10
    - php: 7.2
      env: TYPO3_VERSION=^9
addons:
  apt:
    packages:
      - parallel

sudo: false

cache:
  directories:
    - "$HOME/.composer/cache"

before_install:
  - composer self-update
  - composer --version

install:
  - composer require --no-update "typo3/minimal:$TYPO3_VERSION"
  - composer require --no-update "solarium/solarium"
  - composer install --prefer-dist
  - export TYPO3_PATH_WEB=$PWD/.Build/Web

script:
  - >
    echo;
    echo "Running php lint";
    find . -name \*.php ! -path "./.Build/*" | parallel --gnu php -d display_errors=stderr -l {} > /dev/null \;
  - >
    echo;
    echo "Running unit tests";
    .Build/bin/phpunit --colors -c .Build/vendor/nimut/testing-framework/res/Configuration/UnitTests.xml Tests/Unit/
