{namespace s=Subugoe\Find\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<s:page.title>
		<f:render partial="Components/QueryString" arguments="{query:arguments.q, facets:config.activeFacets}"/>
		–
		{config.pageTitle}
	</s:page.title>
	<f:render partial="Page/Standard" arguments="{_all}"/>

	<f:render partial="GS/JavaScript" arguments="{_all}"/>

	<div class="results {f:if(condition:arguments.largeMap, then:'largeMap')}">
		<div class="navigation top"/>
			<f:render partial="Components/ResultCount" arguments="{_all}"/>
			<f:render partial="Pager/ListPager" arguments="{_all}"/>
		</div>

		<f:render partial="Facets/Facets" arguments="{_all}"/>

		<ol id="c{config.uid}-resultList" class="resultList" start="{config.counterStart}">
			<f:for each="{results.documents}" as="document">
				<f:render partial="Display/Result" arguments="{_all}"/>
			</f:for>
		</ol>

		<div class="navigation bottom"/>
			<f:render partial="Pager/ListPager" arguments="{_all}"/>
		</div>

		<f:render partial="GS/DownloadLinks" arguments="{_all}"/>
	</div>
</f:section>
