{namespace s=Tx_Find_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
<f:debug>{_all}</f:debug>
	<s:pageTitle>
		<f:render partial="Components/QueryString" arguments="{query:arguments.q, facets:activeFacets}"/>
		–
		{pageTitle}
	</s:pageTitle>
	<f:render partial="Page/Standard" arguments="{_all}"/>

	<div class="results">
		<div class="navigation top"/>
			<f:render partial="Components/ResultCount" arguments="{_all}"/>
			<f:render partial="Components/Pagination" arguments="{_all}"/>
		</div>

		<section class="facets-buchstabe">
			<f:render partial="Facets/Facet"
					  arguments="{
						  facetData: '{s:valueForKey(array:results.components.facetset.facets, key:facets.10.id)}',
						  facetInfo: facets.10,
						  activeFacets: activeFacets
			}"/>
		</section>

		<ol id="c{uid}-resultList" class="resultList" start="{counterStart}">
			<f:for each="{results.documents}" as="document">
				<li>
					<p class="itemHeader">
						<s:regexp match="/&lt;&lt;(.*?)&gt;&gt;/" replace="\1">
							<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'title', separator:', '}"/>
							<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'publisher', separator:', '}"/>
						</s:regexp>

						<f:if condition="{document.fields.issn}">
							<span id="c{uid}-issn-{document.fields.issn.0}" class="locally-available"></span>
							<script type="text/javascript">
								var ISSN = {s:json(data:document.fields.issn.0)};
								var elementID = 'c' + {s:json(data:uid)} + '-issn-' + ISSN;
								jfk_jop.addZDBInfoForISSNToElementID(ISSN, elementID);
							</script>
						</f:if>

						<f:if condition="document.fields.identifier">
							<f:link.external uri="http://aleph-www.ub.fu-berlin.de/F/?func=find-c&ccl_term=idn={document.fields.identifier.0}" class="catalogueLink" target="fu-opac"><f:translate key="LLL:{settings.languageRootPath}locallang-jfk.xml:zum Katalog"/></f:link.external>
						</f:if>
					</p>
				</li>
			</f:for>
		</ol>

		<div class="navigation bottom"/>
			<f:render partial="Components/Pagination" arguments="{_all}"/>
		</div>
	</div>
</f:section>
