{namespace s=Tx_Find_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<s:pageTitle title="{document.fields.kloster}"/>
	<f:render partial="Page/Standard" arguments="{_all}"/>
	<f:render partial="Components/DetailResultPager" arguments="{_all}"/>

	<article class="detail">
		<f:render partial="GS/Karte" arguments="{_all}"/>

		<h1>
			<f:render partial="Display/Field/General" arguments="{results:results, document:}"/>
			<s:highlightField field="kloster" document="{document}" results="{results}"/>
		</h1>

		<div class="main">
			<f:if condition="{document.patrozinium}">
				<section class="patrozinium">
					<h2>Patrozinium</h2>
					<p><s:highlightField field="patrozinium" document="{document}" results="{results}"/></p>
				</section>
			</f:if>

			<f:render partial="GS/Standorte" arguments="{_all}"/>

			<f:render partial="GS/Orden" arguments="{_all}"/>

			<f:render partial="GS/Band" arguments="{_all}"/>

			<f:if condition="{document.bemerkung_kloster.0}">
				<section class="bemerkung">
					<h2>Bemerkung</h2>
					<p>{s:highlightField(field:'bemerkung_kloster', document:document, results:results, index:0)}</p>
				</section>
			</f:if>

			<f:render partial="GS/Personen" arguments="{_all}"/>

			<f:if condition="{document.literatur}">
				<section class="literatur">
					<h2>Literatur</h2>
					<ul>
						<f:for each="{s:highlightField(field:'literatur', document:document, results:results)}" as="literatur">
							<li>
								{f:format.raw(value:literatur)}
							</li>
						</f:for>
					</ul>
				</section>
			</f:if>

			<section class="permalink">
				<h2>Zitierlink</h2>
				<p>
					<f:link.external uri="http://kloester.germania-sacra.de/gsn/{document.sql_uid}">
						http://kloester.germania-sacra.de/gsn/{document.sql_uid}
					</f:link.external>
				</p>
			</section>

			<section class="link">
				<f:if condition="{document.url}">
					<h2>Links</h2>
					<ul>
						<s:transpose name="urls" arrays="{
							url: document.url,
							art: document.url_art,
							bemerkung: \"{s:highlightField(field:'url_bemerkung', document:document, results:results)}\"
						}">
							<f:for each="{urls}" as="url">
								<f:if condition="url.art">
									<li>
										<f:link.external uri="{url.url}">
											<f:translate key="label-url_type-{url.art}" default="{url.art}"/>
											<f:if condition="{url.bemerkung}">
												– {f:format.raw(value:url.bemerkung)}
											</f:if>
										</f:link.external>
									</li>
								</f:if>
							</f:for>
						</s:transpose>
					</ul>
				</f:if>
			</section>
		</div>
	</article>
</f:section>