.tx_find aside {
  float: right;
  width: 300px;
  margin: 0 0 1em 1em;
}
.tx_find aside aside h2 {
  display: none;
}
.tx_find aside .map {
  height: 300px;
  background: #fff;
}
.tx_find form .fieldContainer .fieldLabel {
  width: 150px;
}
.tx_find form .fieldContainer .inputContainer {
  margin-left: 160px;
}
.tx_find article section {
  margin-bottom: 1em;
}
.tx_find article section > * {
  line-height: 1.5;
  margin: 0 0 0 12em;
  padding: 0;
}
.tx_find article section h2 {
  float: left;
  clear: left;
  width: 11em;
  margin-left: 0;
  font-size: 100%;
  text-align: right;
}
.tx_find article section h3 {
  font-size: 100%;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tx_find article section ol, .tx_find article section ul {
  padding: 0;
  list-style-type: none;
}
.tx_find article section ol p {
  padding-left: 1em;
  text-indent: -1em;
}
.tx_find article section li p {
  margin-bottom: 0.5em;
}
.tx_find article section nav {
  margin-bottom: 1em;
}
.tx_find article section nav ol li {
  display: inline;
  list-style-type: none;
}
.tx_find article section nav ol li :after {
  content: ', ';
}
.tx_find article section nav ol li :last-of-type:after {
  content: '';
}
.tx_find article section section {
  margin: 0;
}
.tx_find article span.bemerkung {
  font-style: italic;
}
.tx_find article .literatur li {
  word-wrap: break-word;
  padding-left: 1em;
  text-indent: -1em;
}
.tx_find article span.ort,
.tx_find article span.orden,
.tx_find article span.band-nummer,
.tx_find article section.person .name {
  font-weight: bold;
}
.tx_find article .zeitraum:after {
  content: ':';
}
.tx_find article .person_namensalternativen:before {
  content: '(';
}
.tx_find article .person_namensalternativen:after {
  content: ')';
}
.tx_find .facet-type-Map h1 .extraText {
  text-transform: none;
  font-style: italic;
  color: #bbb;
}
.tx_find .facet-type-Map h1 :hover .extraText {
  color: inherit;
}
.tx_find .hidden {
  display: none;
}
