{namespace s=Subugoe\Find\ViewHelpers}
{namespace bib=Ipf\Bib\ViewHelpers}
<f:if condition="{document.literatur_citekey}">
	<section class="literatur">
		<h2>Literatur</h2>
		<ul>
			<s:data.transpose
				name="items"
				arrays="{
					citekey:document.literatur_citekey,
					beschreibung:document.literatur_beschreibung
			}">
				<f:for each="{items}" as="item">
					<li>
						<f:alias map="{bibitem:'{bib:publicationByCiteId(citeId:item.citekey, storagePid:\"{settings.tx_bib_pid}\")}'}">
							<f:render
								partial="Bib/Type/Default"
								arguments="{bibitem:bibitem, note:item.beschreibung}"
							/>
						</f:alias>
					</li>
				</f:for>
			</s:data.transpose>
		</ul>
	</section>
</f:if>
