@font-face {
  font-family: 'TransliterationFont';
  src: url('Fonts/TransliterationTimesItalic.woff');
  src: url('Fonts/TransliterationTimesItalic.eot') format('embedded-opentype'),
       url('Fonts/TransliterationTimesItalic.woff') format('woff'),
       url('Fonts/TransliterationTimesItalic.ttf') format('truetype'),
	   /* TODO: make SVG font work: for some reason Times appears in the browser */
       url('Fonts/TransliterationTimesItalic.svg#tti') format('svg');
  font-weight: normal;
  font-style: normal;
}

$dash: '\2014'; /* — */
$dashspace: 0.3em;
$more: '\2026'; /* … */

.tx_find {
	
	.field-transliteration, .transliteration, .field-weiteres {
		font-family: TransliterationFont;
	}
	
	h1 {
		.technical {
			position: relative;
			float: right;
			margin-left: 1em;
			font-size: 75%;
			
			.bandseitezeile {
				color: #333;
			}
	
			.bandseitezeile.multiple:after {
				position: absolute;
				top: 0;
				right: -1em;
				content: $more;
			}

			.field-texttyp {
				color: #999;
				font-style: italic;
			}

			.field-texttyp:after {
				padding-left: $dashspace;
				content: $dash;
			}
		}
	}
	
	section {
		margin-bottom: 2em;
	}
		
	.detail {
		margin-top: 2em;
	}
	
	.detail.formular {
		.technical {
		}

		.bandseitezeile {
			font-size: 133%;
		}
		
		.field-texttyp {
			font-style: italic;
		}
		
		.field-texttyp:before {
			content: $dash;
			padding-right: $dashspace;
		}
		
		.field-transliteration {
			display: block;
			margin-top: 1em;
			font-size: 133%;
		}
		
		.field-uebersetzung {
			display: block;
			margin-top: 1em;
		}
	}
	
	ul.photo-collections {
		padding: 0;
		
		li {
			list-style-type: none;
		}

		ul.photos {
			padding: 0;
			
			li {
				display: inline;
				padding: 0;
			}
		}
	}
	
	.klammerung:before {
		font-family: Transliteration;
		content: '\00f6';
	}
	
	.klammerung:after {
		font-family: Transliteration;
		content: '\00c4';
	}
	
	.fotorama {
		.fotorama__caption {
			opacity: 1;
			right: 0;
			left: 0;
			text-align: center;
		}
		
		.fotorama__html {
			background: #eee;
		}
		
		.imageName {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 2em;
			text-align: center;
		}
	}
}