@charset "UTF-8";
@font-face {
  font-family: 'TransliterationFont';
  src: url("Fonts/TransliterationTimesItalic.woff");
  src: url("Fonts/TransliterationTimesItalic.eot") format("embedded-opentype"), url("Fonts/TransliterationTimesItalic.woff") format("woff"), url("Fonts/TransliterationTimesItalic.ttf") format("truetype"), url("Fonts/TransliterationTimesItalic.svg#tti") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ‚Äî */
/* ‚Ä¶ */
.tx_find .field-transliteration, .tx_find .transliteration, .tx_find .field-weiteres {
  font-family: TransliterationFont;
}
.tx_find h1 .technical {
  position: relative;
  float: right;
  margin-left: 1em;
  font-size: 75%;
}
.tx_find h1 .technical .bandseitezeile {
  color: #333;
}
.tx_find h1 .technical .bandseitezeile.multiple:after {
  position: absolute;
  top: 0;
  right: -1em;
  content: "\2026";
}
.tx_find h1 .technical .field-texttyp {
  color: #999;
  font-style: italic;
}
.tx_find h1 .technical .field-texttyp:after {
  padding-left: 0.3em;
  content: "\2014";
}
.tx_find section {
  margin-bottom: 2em;
}
.tx_find .detail {
  margin-top: 2em;
}
.tx_find .detail.formular .bandseitezeile {
  font-size: 133%;
}
.tx_find .detail.formular .field-texttyp {
  font-style: italic;
}
.tx_find .detail.formular .field-texttyp:before {
  content: "\2014";
  padding-right: 0.3em;
}
.tx_find .detail.formular .field-transliteration {
  display: block;
  margin-top: 1em;
  font-size: 133%;
}
.tx_find .detail.formular .field-uebersetzung {
  display: block;
  margin-top: 1em;
}
.tx_find ul.photo-collections {
  padding: 0;
}
.tx_find ul.photo-collections li {
  list-style-type: none;
}
.tx_find ul.photo-collections ul.photos {
  padding: 0;
}
.tx_find ul.photo-collections ul.photos li {
  display: inline;
  padding: 0;
}
.tx_find .klammerung:before {
  font-family: Transliteration;
  content: '\00f6';
}
.tx_find .klammerung:after {
  font-family: Transliteration;
  content: '\00c4';
}
.tx_find .fotorama .fotorama__caption {
  opacity: 1;
  right: 0;
  left: 0;
  text-align: center;
}
.tx_find .fotorama .fotorama__html {
  background: #eee;
}
.tx_find .fotorama .imageName {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2em;
  text-align: center;
}
