@font-face {
  font-family: 'Transliteration';
  src: url("Transliteration.woff");
 /* src: url('../font/fontello.eot?44536117#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?44536117') format('woff'),
       url('../font/fontello.ttf?44536117') format('truetype'),
       url('../font/fontello.svg?44536117#fontello') format('svg');
*/
  font-weight: normal;
  font-style: normal;
}

.tx_find .field-transliteration, .tx_find .field-weiteres {
  font-family: Transliteration;
}
.tx_find .bandseitezeile {
  color: #333;
}
.tx_find h1 .bandseitezeile {
  position: relative;
  float: right;
  margin-left: 1em;
  font-size: 75%;
}
.tx_find h1 .bandseitezeile.multiple:after {
  position: absolute;
  top: 0;
  right: -1em;
  content: '\2026';
}
