{namespace s=Subugoe\Find\ViewHelpers}<s:regexp match="/(\n)[\n\s]*/" replace="\\1"><f:alias map="{fields:'{
	101:\'kloster_id\',
	102:\'kloster\',
	103:\'patrozinium\',
	104:\'bemerkung_kloster\',

	111:\'bearbeitungsstatus\',
	112:\'personallistenstatus\',

	121:\'band_nummer\',
	122:\'band_titel\',
	123:\'band_seite\',
	124:\'band_url\',
	125:\'band_url_seitengenau\',

	131:\'gnd\',
	132:\'url_wikipedia\',

	201:\'gruender\',
	202:\'bemerkung_standort\',
	203:\'koordinaten\',
	204:\'koordinaten_institutionengenau\',

	211:\'standort_von_von\',
	212:\'standort_von_bis\',
	213:\'standort_von_verbal\',
	214:\'standort_bis_von\',
	215:\'standort_bis_bis\',
	216:\'standort_bis_verbal\',

	221:\'ort\',
	222:\'gemeinde\',
	223:\'kreis\',
	224:\'land\',
	225:\'ist_in_deutschland\',
	226:\'wuestung\',

	231:\'bistum\',
	232:\'ist_erzbistum\',
	233:\'kirchenprovinz\',

	301:\'kloster_status\',
	302:\'bemerkung_orden\',

	311:\'orden_von_von\',
	312:\'orden_von_bis\',
	313:\'orden_von_verbal\',
	314:\'orden_bis_von\',
	315:\'orden_bis_bis\',
	316:\'orden_bis_verbal\',

	321:\'orden\',
	322:\'orden_ordo\',
	323:\'orden_symbol\',
	324:\'orden_typ\'
}'}"><s:csvLine data="{fields}"/>
	<f:for each="{results.data.response.docs}" as="doc" iteration="iterator">
		<s:newArray name="line" values="{}">
			<f:for each="{fields}" as="fieldName">
				<f:alias map="{value:'{s:valueForKey(array:doc, key:fieldName)}'}">
					<f:if condition="{s:isArray(subject:value)}">
						<f:then>
							<s:newArray name="line" global="1" array="{line}" keys="{1:fieldName}" values="{1:'{s:join(array:value, separator:\"|\")}'}"/>
						</f:then>
						<f:else>
							<s:newArray name="line" global="1" array="{line}" keys="{1:fieldName}" values="{1:value}"/>
						</f:else>
					</f:if>
				</f:alias>
			</f:for>
			<s:csvLine data="{line}"/>
		</s:newArray>
	</f:for>
</f:alias>
</s:regexp>