{namespace s=Subugoe\Find\ViewHelpers}
<s:linkedDataContainer
	prefixes="{
		xsd:'http://www.w3.org/2001/XMLSchema#',
		rdf:'http://www.w3.org/1999/02/22-rdf-syntax-ns#',
		owl:'http://www.w3.org/2002/07/owl#',
		foaf:'http://xmlns.com/foaf/0.1/',
		skos:'http://www.w3.org/2004/02/skos/core#',
		gnd:'http://d-nb.info/gnd/',
		dbpedia-ontology:'http://dbpedia.org/ontology/',
		role:'http://purl.org/vocab/participation/schema#',
		prov:'http://www.w3.org/ns/prov#',
		geo:'http://www.w3.org/2003/01/geo/wgs84_pos#',
		kloster:'{f:render(partial:\'GS/Permalink\')}',
		person:'http://personendatenbank.germania-sacra.de/index/gsn/'
	}"
	format="{LDFormat}"
>
	<s:linkedDataItem subject="{klosterURI}" predicate="rdf:type" object="foaf:Organization"/>
	<s:linkedDataItem subject="{klosterURI}" predicate="rdf:type" object="gnd:4031225-2"/>

	<s:linkedDataItem subject="{klosterURI}" predicate="foaf:name">{doc.kloster}</s:linkedDataItem>
	<f:if condition="{doc.patrozinium}">
		<s:linkedDataItem subject="{klosterURI}" predicate="skos:altLabel">{doc.patrozinium}</s:linkedDataItem>
	</f:if>

	<s:transpose
		name="urls"
		arrays="{
			url:doc.url,
			art:doc.url_art
	}">
		<f:for each="{urls}" as="url">
			<f:if condition="{1:url.art} == {1:'Wikipedia'}">
				<s:linkedDataItem subject="{klosterURI}" predicate="foaf:page" object="{url.url}"/>
				<s:linkedDataItem subject="{klosterURI}" predicate="owl:sameAs" object="{s:regexp(string:url.url, match:'|http://de.wikipedia.org/wiki/|', replace:'http://dbpedia.org/page/')}"/>
			</f:if>
			<f:if condition="{1:url.art} == {1:'GND'}">
				<s:linkedDataItem subject="{klosterURI}" predicate="owl:sameAs" object="{url.url}"/>
			</f:if>
		</f:for>
	</s:transpose>




	<s:transpose
		name="ordens"
		arrays="{
			name: doc.orden,
			ordo: doc.orden_ordo,
			graphik: doc.orden_graphik,
			von: doc.orden_von_von,
			bis: doc.orden_bis_bis,
			gnd: doc.orden_gnd,
			wikipedia: doc.orden_wikipedia,
			uid: doc.kloster_orden_uid
	}">
		<f:for each="{ordens}" as="orden">
			<f:if condition="{orden.gnd}">
				<f:alias map="{
					mitgliedschaftURI:'{klosterURI}#orden-{orden.uid}',
					ordenURI:'gnd:{orden.gnd}'
				}">
					<s:linkedDataItem subject="{ordenURI}" predicate="foaf:member" object="{klosterURI}"/>
					<s:linkedDataItem subject="{ordenURI}" predicate="foaf:name" language="de">{orden.name}</s:linkedDataItem>
					<f:if condition="{orden.ordo}">
						<s:linkedDataItem subject="{ordenURI}" predicate="foaf:nick">{orden.ordo}</s:linkedDataItem>
					</f:if>
					<f:comment>
						TODO: Orden Graphik einbauen (wenn URL stabil)?
						<f:if condition="{orden.graphik}">
							<s:linkedDataItem subject="{ordenURI}" predicate="foaf:img">{baseURL}{orden.graphik}</s:linkedDataItem>
						</f:if>
					</f:comment>

					<f:if condition="{orden.wikipedia}">
						<s:linkedDataItem subject="{ordenURI}" predicate="foaf:page" object="{orden.wikipedia}"/>
						<s:linkedDataItem subject="{ordenURI}" predicate="owl:sameAs" object="{s:regexp(string:orden.wikipedia, match:'|http://de.wikipedia.org/wiki/|', replace:'http://dbpedia.org/page/')}"/>
					</f:if>

					<s:linkedDataItem subject="{mitgliedschaftURI}" predicate="rdf:type" object="role:Role"/>
					<s:linkedDataItem subject="{mitgliedschaftURI}" predicate="rdf:type" object="gnd:4114609-8"/>
					<s:linkedDataItem subject="{mitgliedschaftURI}" predicate="role:holder" object="{klosterURI}"/>
					<s:linkedDataItem subject="{ordenURI}" predicate="role:role" object="{mitgliedschaftURI}"/>
					<f:if condition="{orden.bis}">
						<s:linkedDataItem subject="{mitgliedschaftURI}" predicate="role:startDate" objectType="xsd:date">{orden.von}-01-01</s:linkedDataItem>
					</f:if>
					<f:if condition="{orden.bis}">
						<s:linkedDataItem subject="{mitgliedschaftURI}" predicate="role:endDate" objectType="xsd:date">{orden.bis}-01-01</s:linkedDataItem>
					</f:if>
				</f:alias>
			</f:if>
		</f:for>
	</s:transpose>




	<s:transpose
		name="standorte"
		arrays="{
			ort: doc.ort,
			bistum: doc.bistum,
			bistum_gnd: doc.bistum_gnd,
			koordinaten: doc.koordinaten,
			geonames: doc.geonames,
			von: doc.standort_von_von,
			bis: doc.standort_bis_bis,
			uid: doc.standort_uid
	}">
		<f:for each="{standorte}" as="standort">
			<f:alias map="{standortURI:'{klosterURI}#standort-{standort.uid}'}">
				<s:linkedDataItem subject="{standortURI}" predicate="rdf:type" object="prov:Activity"/>
				<s:linkedDataItem subject="{standortURI}" predicate="rdf:type" object="gnd:4066749-2"/>
				<s:linkedDataItem subject="{standortURI}" predicate="foaf:name">{standort.ort}</s:linkedDataItem>

				<f:if condition="{standort.bistum_gnd}">
					<s:linkedDataItem subject="{standortURI}" predicate="dbpedia-ontology:locatedInArea" object="gnd:{standort.bistum_gnd}"/>
				</f:if>

				<f:if condition="{standort.geonames}">
					<s:linkedDataItem subject="{standortURI}" predicate="prov:atLocation" object="{standort.geonames}"/>
				</f:if>
				<f:if condition="{standort.koordinaten}">
					<s:linkedDataItem subject="{standortURI}" predicate="geo:lat" objectType="xsd:float"><s:regexp match="/^(.*),.*/" replace="\1">{standort.koordinaten}</s:regexp></s:linkedDataItem>
					<s:linkedDataItem subject="{standortURI}" predicate="geo:long" objectType="xsd:float"><s:regexp match="/^.*,(.*)/" replace="\1">{standort.koordinaten}</s:regexp></s:linkedDataItem>
				</f:if>

				<f:if condition="{standort.von}">
					<s:linkedDataItem subject="{standortURI}" predicate="prov:startedAtTime" objectType="xsd:date">{standort.von}-01-01</s:linkedDataItem>
				</f:if>
				<f:if condition="{standort.bis}">
					<s:linkedDataItem subject="{standortURI}" predicate="prov:endedAtTime" objectType="xsd:date">{standort.bis}-01-01</s:linkedDataItem>
				</f:if>
			</f:alias>
		</f:for>
	</s:transpose>




	<s:transpose
		name="personen"
		arrays="{
			gso: doc.person_gso,
			name: doc.person_name,
			namensalternativen: doc.person_namensalternativen,
			gnd: doc.person_gnd,
			bezeichnung: doc.person_bezeichnung,
			office_id: doc.person_office_id,
			von: doc.person_von,
			bis: doc.person_bis
	}">
		<f:for each="{personen}" as="person">
			<f:alias map="{
				personURI:'person:{person.gso}'
				roleURI:'person:{person.gso}#amt-{person.office_id}'
			}">
				<s:linkedDataItem subject="{personURI}" predicate="rdf:type" object="foaf:Person"/>
				<s:linkedDataItem subject="{personURI}" predicate="foaf:name">{person.name}</s:linkedDataItem>
				<f:if condition="{person.namensalternativen}">
					<f:for each="{s:split(string:person.namensalternativen, separator:'; ')}" as="namensalternative">
						<s:linkedDataItem subject="{personURI}" predicate="foaf:nick">{namensalternative}</s:linkedDataItem>
					</f:for>
				</f:if>
				<f:if condition="{person.gnd}">
					<s:linkedDataItem subject="{personURI}" predicate="owl:sameAs" object="gnd:{person.gnd}"/>
				</f:if>
				<s:linkedDataItem subject="{klosterURI}" predicate="foaf:member" object="{personURI}"/>
				<s:linkedDataItem subject="{roleURI}" predicate="rdf:type" object="role:Role"/>
				<s:linkedDataItem subject="{roleURI}" predicate="role:holder" object="{personURI}"/>
				<s:linkedDataItem subject="{klosterURI}" predicate="role:role" object="{roleURI}"/>
				<f:if condition="person.bezeichnung">
					<s:linkedDataItem subject="{roleURI}" predicate="foaf:name" language="de">{person.bezeichnung}</s:linkedDataItem>
				</f:if>
				<f:if condition="{person.von}">
					<s:linkedDataItem subject="{roleURI}" predicate="role:startDate" objectType="xsd:date">{person.von}-01-01</s:linkedDataItem>
				</f:if>
				<f:if condition="{person.bis}">
					<s:linkedDataItem subject="{roleURI}" predicate="role:endDate" objectType="xsd:date">{person.bis}-01-01</s:linkedDataItem>
				</f:if>
			</f:alias>
		</f:for>
	</s:transpose>

</s:linkedDataContainer>