<f:if condition="{settings.paging.detailPagePaging}">
	<p class="queryAndPager">
		<f:if condition="{arguments.underlyingQuery}">
			<span class="underlyingQuery">
				<f:if condition="{arguments.uderlyingQuery.q}">
					<span class="query">
						<f:translate key="Query"/>
						<f:for each="{arguments.underlyingQuery.q}" as="value" key="key" iteration="iteration">
							»<f:if condition="{0:key} != {0:'default'}">{key}: </f:if>{value}<f:if condition="{iteration.isLast} == 0"> AND </f:if>«
						</f:for>
					</span>
				</f:if>
				<span class="position">
					<f:translate key="result"/>
					{arguments.underlyingQuery.position}
					<f:translate key="of"/>
					{results.numfound}
				</span>
			</span>
		</f:if>

		<span class="resultPager pager">
			<f:if condition="{document-previous}">
				<f:then>
					<f:link.action action="detail" arguments="{id: document-previous.fields.id}" class="previous icon-left-dir" onclick="return detailViewWithPaging(this, {document-previous-number});" title="{f:translate(key:'previous')}">
					</f:link.action>
				</f:then>
				<f:else>

				</f:else>
			</f:if>
			<f:if condition="{document-next}">
				<f:then>
					<f:link.action action="detail" arguments="{id: document-next.fields.id}" class="next icon-right-dir" onclick="return detailViewWithPaging(this, {document-next-number});" title="{f:translate(key:'next')}">
					</f:link.action>
				</f:then>
				<f:else>

				</f:else>
			</f:if>
		</span>
	</p>
</f:if>