{namespace s=Tx_SolrFrontend_ViewHelpers}

<f:if condition="{facetInfo.autocomplete}">
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<f:form.textfield placeholder="{f:translate(key:'Filter by %s', arguments:'{0:\"{f:translate(key:\'LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}\')}\"}')}" class="facetSearch"/>
		<div class="autocompleteContainer"></div>
	</f:if>
</f:if>

<ol class="facetList{f:if(condition:facetInfo.autocomplete, then:' autocomplete')}">
	<f:for each="{facetData.values}" as="itemCount" key="facetTerm" iteration="iterator">
		<f:render partial="FacetItem" arguments="{_all}"/>
	</f:for>
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<li class="facetShowAll">
			<a href="#" onclick="return solr_frontend.showAllFacetsOfType(event)">
				<f:translate key="show all"/>
			</a>
		</li>
	</f:if>
</ol>
