{namespace s=Tx_SolrFrontend_ViewHelpers}

<f:if condition="{results.components.facetset.facets}">
	<div class="facets">
		<script type="text/javascript">
			var showAllFacetsOfType = function (myEvent) {
				var jLink = jQuery(myEvent.toElement);
				var containingList = jLink.parents('ol')[0];
				// Fade in the hidden elemens and hide the Show All link.
				jQuery('.hidden', containingList).slideDown(300);
				jLink.parent().fadeOut(200);
				return false;
			};
		</script>

		<h3 class="invisible">
			<f:translate key="Facets"/>
			<a href="#c{uid}-resultList">
				<f:translate key="Jump to results"/>
			</a>
		</h3>
		<f:for each="{facets}" as="facetInfo" key="facetKey">
			<f:alias map="{facetData: '{s:valueForKey(array:results.components.facetset.facets key:facetInfo.field)}', facetName: facetInfo.field}">
				<f:if condition="{f:count(subject:facetData)} > 0">
					<article class="facet {facetInfo.type}">
						<h1>
							<f:translate key="LLL:{settings.view.languageRootPath}locallang-facets.xml:facet.{facetName}" default="{facetName}*"/>
						</h1>
						<f:if condition="{1:facetInfo.type} == {1:'histogram'}">
							<f:then>
								<f:render partial="FacetHistogram" arguments="{_all}"/>
							</f:then>
							<f:else>
								<f:render partial="FacetList" arguments="{_all}"/>
							</f:else>
						</f:if>
					</article>
				</f:if>
			</f:alias>
		</f:for>
	</div>
</f:if>
