{namespace s=Tx_SolrFrontend_ViewHelpers}

<f:if condition="{f:count(subject:facetInfo.values)} > 0">
	<article>
		<h1>
			<f:translate key="LLL:{settings.view.languageRootPath}locallang-facets.xml:facet.{facetName}" default="{facetName}"/>
		</h1>
		<ol class="facetList">
			<f:for each="{facetInfo.values}" as="facetItemCount" key="facetItemName" iteration="facetItemIterator">
				<f:render partial="FacetItem" arguments="{_all}"/>
			</f:for>
			<f:if condition='{f:count(subject:facetInfo.values)} > {s:valueForKey(array:settings.facetDisplayCount, key:facetName)}'>
				<f:then>
					<li class="facetShowAll">
						<a href="#" onclick="return showAllFacetsOfType(event)">alle zeigen</a>
					</li>
				</f:then>
				<f:else>
					<f:if condition="{f:count(subject:facetInfo.values)} > {settings.facetDisplayCount.DEFAULT}">
						<f:then>
							<li class="facetShowAll">
								<a href="#" onclick="return showAllFacetsOfType(event)">
									<f:translate key="show all"/>
								</a>
							</li>
						</f:then>
					</f:if>
				</f:else>
			</f:if>
		</ol>
	</article>
</f:if>