{namespace s=Tx_SolrFrontend_ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}

<f:if condition="{facetInfo.autocomplete}">
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<t3jquery:addJQueryAndScript jsfile="EXT:solr_frontend/Resources/Public/JavaScript/jquery.chosen/public/chosen.jquery.min.js"/>
		<f:alias map="{translateArguments:'{0:\"{f:translate(key:\'LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}\')}\"}'}">
			<f:form.select options="{s:selectOptionsForFacet(values:facetData.values, leadingBlank:1)}" class="facetSearch" additionalAttributes="{data-placeholder:'{f:translate(key:\"Filter by %s\", arguments:translateArguments)}'}"/>
		</f:alias>
	</f:if>
</f:if>

<ol class="facetList{f:if(condition:facetInfo.autocomplete, then:' autocomplete')}">
	<f:for each="{facetData.values}" as="itemCount" key="facetTerm" iteration="iterator">
		<f:render partial="FacetItem" arguments="{_all}"/>
	</f:for>
	<f:if condition="{f:count(subject:facetData.values)} > {facetInfo.displayDefault}">
		<li class="facetShowAll">
			<a href="#" onclick="return solr_frontend.showAllFacetsOfType(event)">
				<f:translate key="show all"/>
			</a>
		</li>
	</f:if>
</ol>
