{namespace s=Tx_SolrFrontend_ViewHelpers}
<f:if condition="{f:count(subject:facet.values)} > 0">
	<article>
		<h1>
			<f:translate key="LLL:{settings.view.languageRootPath}locallang-facets.xml:facet.{label}" default="{label}"/>
		</h1>
		<ol>
			<f:for each="{facet.values}" as="value" key="key">
				<li class="count-{value}">
					<f:link.action addQueryString="TRUE" additionalParams="{tx_solrfrontend_solrfrontend: '{s:arrayKeyValue(counter: facetCounter, label: label, value: key)}'}">
						<span class="facetName">
							<f:translate key="LLL:{settings.view.languageRootPath}locallang-facets.xml:facet.{label}.{key}" default="{key}"/>
						</span>
						<span class="facetCount">{value}</span>
					</f:link.action>
				</li>
			</f:for>
		</ol>
	</article>
</f:if>