{namespace s=Tx_SolrFrontend_ViewHelpers}

<li class='index-{facetItemIterator.cycle} count-{facetItemCount}
	<f:if condition="{facetInfo.displayDefault}">
		<f:then>
			<f:if condition="{iterator.cycle} > {facetInfo.displayDefault}">
				<f:then>hidden</f:then>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{iterator.cycle} > {settings.facetDefaults.displayDefault}">
				<f:then>hidden</f:then>
			</f:if>
		</f:else>
	</f:if>
'>
	<f:if condition="{s:facetIsActive(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:activeFacets)}">
		<f:then>
			<span class="facetName facetActive">
				<f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}.{facetTerm}"
							 default="{facetTerm}"/>
				<f:link.action
						addQueryString="TRUE"
						argumentsToBeExcludedFromQueryString="{s:facetLinkArguments(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:activeFacets, mode:'remove')}"
						class="facetRemove">
					<f:translate key="remove filter"/>
				</f:link.action>
			</span>
		</f:then>
		<f:else>
			<f:link.action
					addQueryString="TRUE"
					arguments="{s:facetLinkArguments(facetID:facetInfo.id, facetTerm:facetTerm, activeFacets:activeFacets)}"
					argumentsToBeExcludedFromQueryString="{0:'tx_solrfrontend_solrfrontend[offset]'}"
					class="facetAdd">
				<span class="facetName">
					<f:translate key="LLL:{settings.languageRootPath}locallang-facets.xml:facet.{facetInfo.id}.{facetTerm}"
								 default="{facetTerm}"/>
				</span>
				<span class="facetCount">{itemCount}</span>
			</f:link.action>
		</f:else>
	</f:if>
</li>
