<f:form name="c{uid}-form" method="get" fieldNamePrefix="tx_solrfrontend_solrfrontend[q]">
	<f:debug>{_all}</f:debug>
	<f:for each="{settings.queryFields}" as="fieldInfo">
		<f:if condition="{extendedSearchActivated} == FALSE">
			<f:then>
				<f:if condition="{fieldInfo.simple} == 1">
					<f:render partial="FormField" arguments="{uid:uid, query:query, fieldInfo:fieldInfo}"/>
				</f:if>
			</f:then>
			<f:else>
				<f:render partial="FormField" arguments="{uid:uid, query:query, fieldInfo:fieldInfo}"/>
			</f:else>
		</f:if>

	</f:for>

	<f:form.submit value="{f:translate(key:'Search')}" class="submit"/>

</f:form>
