<f:form action="index" object="{search}" name="search">
	<f:render partial="FormField" arguments="{uid:uid, fieldInfo:{type:'search', id:'default'}}"/>

	<f:if condition="{settings.extendedSearch}">
		<f:if condition="{extendedSearch}">
			<f:then>
				<div class="extraFields">
					<f:for each="{settings.extendedSearch}" as="fieldInfo">
						<f:render partial="FormField" arguments="{_all}"/>
					</f:for>
				</div>
			</f:then>
		</f:if>
	</f:if>

	<f:form.submit value="{f:translate(key:'Search')}" class="submit"/>

	<!-- TODO: Links -->
	<f:if condition="{settings.extendedSearch}">
		<f:if condition="{extendedSearch}">
			<f:then>
				<f:link.action class="extendedSearch"><f:translate key="basic Search"/></f:link.action>
			</f:then>
			<f:else>
				<f:link.action class="extendedSearch"><f:translate key="extended Search"/></f:link.action>
			</f:else>
		</f:if>
	</f:if>

</f:form>
