<f:form name="c{uid}-form" method="get" fieldNamePrefix="tx_solrfrontend_solrfrontend[q]"
		class="searchForm {f:if(condition:extendedSearch, then:'extended', else:'simple')}">
	<f:for each="{settings.queryFields}" as="fieldInfo">
		<div class="fieldContainer fieldType-{fieldInfo.type} field-{fieldInfo.id} field-mode-{f:if(condition:'{fieldInfo.simple}', then:'simple', else:'extended')}">
			<f:render partial="FormFields/{fieldInfo.type}" arguments="{_all}"/>
		</div>
	</f:for>

	<f:form.submit value="{f:translate(key:'Search')}" class="submit"/>

</f:form>
