{namespace s=Subugoe\Find\ViewHelpers}
<f:if condition="{settings.paging.detailPagePaging}">
	<f:if condition="{arguments.underlyingQuery}">
		<p class="queryAndPager">
			<span class="underlyingQuery">
				<span class="backToResultList">
					<s:newArray
						name="linkArguments"
						keys="{0:'q', 1:'sort', 2:'count', 3:'facet', 4:'extended', 5:'page'}"
						values="{
							0:arguments.underlyingQuery.q,
							1:arguments.underlyingQuery.sort,
							2:arguments.underlyingQuery.count,
							3:arguments.underlyingQuery.facet,
							4:arguments.extended,
							5:'{s:pageNumberForResultNumber(
								resultNumber:arguments.underlyingQuery.position,
								resultsPerPage:settings.paging.perPage
							)}'
						}"
						omitEmptyFields="1"
					>
						<f:link.action
							action="index"
							arguments="{linkArguments}"
							section="c{uid}-result-{document.fields.id}"
							noCacheHash="1"
							class="icon-level-up internal"
						>
							<f:translate key="Return to results list"/>
						</f:link.action>
					</s:newArray>
				</span>

				<span class="query">
					<f:render partial="Components/QueryString" arguments="{query:arguments.underlyingQuery.q, facets:arguments.underlyingQuery.facets}"/>
				</span>
			</span>

			<span class="resultPager">
				<span class="position">
					<f:translate key="result"/>
					<span class="resultPosition">{arguments.underlyingQuery.position}</span>
					<f:translate key="of"/>
					<span class="resultTotalCount">{results.numfound}</span>
				</span>

				<span class="pager">
					<f:if condition="{document-previous}">
						<f:then>
							<f:link.action
								action="detail"
								arguments="{id: document-previous.fields.id}"
								section="{settings.jumpToID}"
								noCacheHash="1"
								class="previous icon-left-dir internal no-change"
								onclick="return tx_find.detailViewWithPaging(this, {document-previous-number});"
								title="{f:translate(key:'previous')}: {s:valueForKey(array:document-previous.fields, key:settings.standardFields.title)}"/>
						</f:then>
						<f:else>
							<a class="icon-left-dir"></a>
						</f:else>
					</f:if>
					<f:if condition="{document-next}">
						<f:then>
							<f:link.action
								action="detail"
								arguments="{id: document-next.fields.id}"
								section="{settings.jumpToID}"
								noCacheHash="1"
								class="next icon-right-dir internal no-change"
								onclick="return tx_find.detailViewWithPaging(this, {document-next-number});" title="{f:translate(key:'next')}: {s:valueForKey(array:document-next.fields, key:settings.standardFields.title)}"/>
						</f:then>
						<f:else>
							<a class="icon-right-dir"></a>
						</f:else>
					</f:if>
				</span>
			</span>
		</p>
	</f:if>
</f:if>