<div class="resultCount">
	<f:if condition="{results.numfound}==0">
		<f:then>
			<f:if condition="{error}">
				<f:then>
					<f:translate key="Error"/>
				</f:then>
				<f:else>
					<f:translate key="no results"/>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{results.numfound}==1">
				<f:then>
					<f:translate key="1 result"/>
				</f:then>
				<f:else>
					<f:if condition="{results.numfound}<{settings.count}">
						<f:then>
							{results.numfound} <f:translate key="results"/>
						</f:then>
						<f:else>
							{counterStart}-{counterEnd}
							<f:translate key="of"/>
							{results.numfound}
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</div>
