{namespace s=Tx_SolrFrontend_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<f:render partial="DetailResultPager" arguments="{_all}"/>

	<article class="detail">
		<h1>
			<s:highlightField field="{settings.standardFields.title}" document="{document}" results="{results}"/>
		</h1>

		<dl>
			<f:for each="{document.fields}" as="value" key="key">
				<dt>{key}</dt>
				<dd>
					<f:if condition="{value.0}">
						<f:then>
							<ul>
								<f:for each="{value}" as="singleValue" key="index">
									<li>
										<s:highlightField field="{key}" document="{document}" results="{results}" index="{index}"/>
									</li>
								</f:for>
							</ul>
						</f:then>
						<f:else>
							<s:highlightField field="{key}" document="{document}" results="{results}"/>
						</f:else>
					</f:if>
				</dd>
				<dd></dd>
			</f:for>
		</dl>
	</article>
	<f:debug>{document}</f:debug>

</f:section>