{namespace s=Tx_SolrFrontend_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<f:render partial="CSS" arguments="{_all}"/>
	<f:render partial="JavaScript" arguments="{_all}"/>
	<f:render partial="Form" arguments="{_all}"/>
	<f:render partial="DetailResultPager" arguments="{_all}"/>

	<article class="detail">
		<h1>
			<f:render partial="FieldInline" arguments="{results:results, document:document, field:settings.standardFields.title, separator:', '}"/>
		</h1>

		<dl>
			<f:for each="{document.fields}" as="value" key="fieldName">
				<dt>
					<f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.{fieldName}"
								 default="{fieldName}"/>
				</dt>
				<dd>
					<f:render partial="FieldList" arguments="{results:results, document:document, field:fieldName}"/>
				</dd>
			</f:for>
		</dl>
	</article>
</f:section>