{namespace s=Subugoe\Find\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<s:pageTitle>{document.fields.id} – {pageTitle}</s:pageTitle>
	<f:render partial="Page/Standard" arguments="{_all}"/>
	<f:render partial="Components/DetailResultPager" arguments="{_all}"/>

	<article class="detail">
		<h1>
			<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:settings.standardFields.title, separator:', '}"/>
		</h1>

		<dl>
			<f:for each="{document.fields}" as="value" key="fieldName">
				<f:render partial="Display/DLField" arguments="{results:results, document:document, field:fieldName}"/>
			</f:for>
		</dl>
	</article>
</f:section>