{namespace s=Tx_SolrFrontend_ViewHelpers}

<f:layout name="Default"/>
<f:section name="main">
	<f:render partial="Form" arguments="{_all}" />
	<div class="results">
		<h3>Found {results.numfound} results for <em>{searchTerm}</em></h3>

		<f:render partial="Pagination" arguments="{_all}"/>

		<f:render partial="Facets" arguments="{_all}"/>

		<ol id="c{uid}-resultList" class="resultList" start="{counterStart}">
			<f:for each="{results.documents}" as="document">
				<f:render partial="Result" arguments="{document: document}"/>
			</f:for>
		</ol>

		<f:render partial="Pagination" arguments="{_all}"/>
	</div>
	
</f:section>