{namespace s=Tx_Find_ViewHelpers}
<f:render partial="Form/QueryError.html" arguments="{_all}"/>

<f:form name="c{uid}-form"
		method="get"
		section="{settings.jumpToID}"
		class="searchForm {f:if(condition:extendedSearch, then:'search-extended', else:'search-simple')}">

	<f:for each="{formFacets}" as="facet" key="facetID">
		<f:for each="{facet}" as="unused" key="facetValue">
			<f:form.hidden name="facet[{facetID}][{facetValue}]" value="1"/>
		</f:for>
	</f:for>

	<div class="formFields">
		<f:for each="{settings.queryFields}" as="fieldInfo">
			<f:if condition="{fieldInfo.type}">
				<f:then>
					<f:if condition="{s:or(conditions:'{
						0:\"{s:not(condition:fieldInfo.hidden)}\",
						1:\"{s:valueForKey(array:arguments.q, key:fieldInfo.id)}\"
					}')}">
						<div class="fieldContainer fieldType-{fieldInfo.type} field-{fieldInfo.id} field-mode-{f:if(condition:'{fieldInfo.extended}', then:'extended', else:'simple')}">
							<f:render partial="Form/Fields/{fieldInfo.type}" arguments="{_all}"/>
						</div>
					</f:if>
				</f:then>
				<f:else>
					<div class="fieldContainer error">
						<f:translate key="Missing type in configuration for queryField %s." arguments="{0:fieldInfo.id}"/>
					</div>
				</f:else>
			</f:if>
		</f:for>
	</div>

	<div class="controls">
		<f:form.submit value="{f:translate(key:'Search')}" class="submit"/>

		<f:groupedFor each="{settings.queryFields}" as="fieldsByType" groupBy="extended" groupKey="extended">
			<f:if condition="{0:extended} == {0:1}">
				<f:if condition="{extendedSearch}">
					<f:then>
						<f:link.action
							addQueryString="TRUE"
							argumentsToBeExcludedFromQueryString="{0:'tx_find_find[extendedSearch]'}"
							class="extendedSearch internal"
							additionalAttributes="{
								simpleString:'{f:translate(key:\"extended Search\")}',
								extendedString:'{f:translate(key:\"basic Search\")}'
							}">
							<f:translate key="basic Search"/>
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action
							addQueryString="TRUE"
							arguments="{extendedSearch: 1}"
							class="extendedSearch internal"
							additionalAttributes="{
								simplestring:'{f:translate(key:\"extended Search\")}',
								extendedstring:'{f:translate(key:\"basic Search\")}'
							}">
							<f:translate key="extended Search"/>
						</f:link.action>
					</f:else>
				</f:if>
			</f:if>
		</f:groupedFor>
	</div>

	<f:if condition="{f:count(subject:sortOptions.menu)} > 1">
		<div class="sortOrder">
			<label for="c{uid}-sortSelect">
				<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.sort"/>
			</label>
			<f:form.select id="c{uid}-sortSelect" name="sort" options="{sortOptions.menu}" value="{sortOptions.selected}"/>
		</div>
	</f:if>

	<f:if condition="{f:count(subject:resultCountOptions.menu)} > 1">
		<div class="resultCountPicker">
			<label for="c{uid}-resultCountSelect">
				<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.count"/>
			</label>
			<f:form.select id="c{uid}-resultCountSelect" name="count" options="{resultCountOptions.menu}" value="{resultCountOptions.selected}"/>
		</div>
	</f:if>

	<div class="clear"></div>
</f:form>