{namespace s=Tx_Find_ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<t3jquery:addJQueryAndScript jsfile="EXT:find/Resources/Projects/edfu/Resources/fotorama/product/fotorama.js"/>
<s:linkCSS file="EXT:find/Resources/Projects/edfu/Resources/fotorama/product/fotorama.css"/>
<section class="general">
	<div class="technical">
		<f:render partial="Edfu/BandSeiteZeile" arguments="{_all}"/>
		<f:link.action arguments="{q: '{default: \'texttyp:\"{document.texttyp}\"\'}'}" noCacheHash="1" title="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Alle Datensätze vom Texttyp »%s« zeigen.', arguments:'{0:document.texttyp}')}">
			<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'texttyp', separator:', '}"/>
		</f:link.action>
	</div>
	<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'transliteration', separator:', '}"/>
	<f:render partial="Edfu/Uebersetzung" arguments="{results:results, document:document}"/>
</section>
<section class="photos">
	<h1><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Photos"/></h1>
	<s:transpose name="collections" arrays="{
		photos:document.photo_collection_photos,
		note:document.photo_collection_string,
		id:document.photo_collection_id
	}">
		<div class="imageControls">
			<div class="control-container">
				<span class="slider-label">{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Kontrast')}</span>
				<div id="slider-contrast" class="slider"></div>
			</div>
			<div class="control-container">
				<span class="slider-label">{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Helligkeit')}</span>
				<div id="slider-brightness" class="slider"></div>
			</div>
		</div>
		<t3jquery:addJQueryAndScript>
			var onSlide = function (event, ui) {
				var filterStrings = [];
				jQuery('.ui-slider').each( function () {
					var value = $(this).slider('value');
					filterStrings.push(this.id.split('-')[1] + '(' + value + '%)');
				});
				var filterString = filterStrings.join(' ');

				var jFotorama = jQuery('.fotorama__stage__shaft');
				jFotorama.css({'filter': filterString, '-webkit-filter': filterString});
			};

			jQuery('.slider').slider({
				min: 0,
				max: 200,
				value: 100,
				slide: onSlide
			});
		</t3jquery:addJQueryAndScript>

		<div class="photos fotorama" data-width="100%" data-ratio="1.5" data-thumb-width="60" data-thumb-height="60" data-hash="true" data-max-height="100%" data-nav="thumbs" data-keyboard="true">
			<f:for each="{collections}" as="collection">
				<f:for each="{s:split(string:collection.photos, separator:',')}" as="photo">
					<f:alias map="{path:'fileadmin/edfu-data/Photos/{photo}.{f:if(condition:\"{s:regexp(string:photo, match:\'/^SW/\')}\", then:\"jpg\", else:\"JPG\")}', photo_name:'{s:regexp(string:photo, match:\'|.*/(.*)|\', replace:\'\\1\')}'}">
						<f:if condition="{s:pathExists(path:path)}">
							<f:then>
								<a href="{f:uri.image(src:path, maxHeight:2000px, maxWidth:2000px)}" data-caption="{photo_name}" id="c{uid}-collection-{collection.id}-photo-{photo_name}" title="asd">
									<f:image src="{path}" alt="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Photo »%s« aus dem Edfu-Projekt.', arguments:{0:photo_name})}" width="60m" height="60m"additionalAttributes="{data-caption:path}"/>
								</a>
							</f:then>
							<f:else>
								<div class="imageName">
									<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Photo »%s« ist nicht online verfügbar." arguments="{0:photo_name}"/></div>
							</f:else>
						</f:if>
					</f:alias>
				</f:for>
			</f:for>
		</div>
	</s:transpose>
</section>
<section class="literatur">
	<h1><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Literatur"/></h1>
	<f:render partial="Display/Field/List" arguments="{results:results, document:document, field:'literatur', separator:', '}"/>
</section>
