
.icon-level-up:before { content: '\e800'; } /* '' */
.icon-pointer-0:before { content: '\e808'; } /* '' */
.icon-pointer-90:before { content: '\e807'; } /* '' */
.icon-right-dir:before { content: '\2192'; } /* '→' */
.icon-pointer-180:before { content: '\e803'; } /* '' */
.icon-pointer-270:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\2190'; } /* '←' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-resize-full:before { content: '\e80b'; } /* '' */
.icon-resize-small:before { content: '\e80d'; } /* '' */
.icon-popup:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */