{namespace s=Tx_SolrFrontend_ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
	<f:render partial="DetailResultPager" arguments="{_all}"/>

	<article class="detail">
		<h1>{document.kloster}</h1>

		<aside>
			<h2>Karte</h2>
			<div id="c-{document.id}-map" class="map"></div>
			<script type="text/javascript">
				var klosterID = '{document.id}';

				function mapsReady () {
					var mapOptions = {
						'mapTypeId': google.maps.MapTypeId.ROADMAP,
						'streetViewControl': false,
						'scrollwheel': false
					};

					var mapContainer = document.getElementById('c-' + klosterID + '-map');
					var map = new google.maps.Map(mapContainer, mapOptions);
					var containingBounds = new google.maps.LatLngBounds();
					var point;
					var title;
					var institutionengenau = false;
					<f:for each="{document.koordinaten}" as="koordinaten" key="index">
					point = new google.maps.LatLng({koordinaten});
					title = <s:json data="{document.kloster}"/>;
					new google.maps.Marker({
						'map': map,
						'position': point,
						'title': title,
						'zIndex': 100
					});
					containingBounds.extend(point);
					institutionengenau |= <s:json data="{s:valueForKey(array:document.koordinaten_institutionengenau, key:index)}"/>;
					var queryURL = '<f:uri.action arguments="{q:{raw:'{!geofilt pt={koordinaten} sfield=koordinaten d=75}'}, count:250}" action="json" pageType="1369315139"/>';
					addNearby(map, queryURL);
					</f:for>
					var NE = containingBounds.getNorthEast();
					var SW = containingBounds.getSouthWest();
					var center = containingBounds.getCenter();
					var width = Math.abs(NE.lng() - SW.lng());
					var minimumWidth = 0.01 * (institutionengenau ? 1 : 10);
					if (width < minimumWidth) {
						containingBounds = new google.maps.LatLngBounds(
							new google.maps.LatLng(SW.lat(), center.lng() - minimumWidth/2),
							new google.maps.LatLng(NE.lat(), center.lng() + minimumWidth/2)
						);
					}
					map.fitBounds(containingBounds);
				}

				var addNearby = function (map, queryURL) {
					jQuery.getJSON(queryURL, function (data) {
						var results = data.response.docs;
						for (var docIndex in results) {
							var result = results[docIndex];
							if (result.id !== klosterID) {
								var points = result.koordinaten;
								for (var pointIndex in points) {
									var coordinateStrings = points[pointIndex].split(',');
									var lat = parseFloat(coordinateStrings[0]);
									var long = parseFloat(coordinateStrings[1]);
									var point = new google.maps.LatLng(lat,long);
									var title = result.kloster;
									var marker = new google.maps.Marker({
										'map': map,
										'position': point,
										'title': title,
										'icon': 'http://maps.google.com/mapfiles/kml/paddle/red-circle-lv.png',
										'zIndex': 50
									});
								}
							}
						}
					});
				}

				var loadScript = function () {
					var script = document.createElement('script');
					script.type = 'text/javascript';
					script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=mapsReady';
					document.body.appendChild(script);
				}

				jQuery(loadScript);
			</script>

		</aside>

		<div class="main">
			<f:if condition="{document.patrozinium}">
				<section class="patrozinium">
					<h2>Patrozinium</h2>
					<p>
						{document.patrozinium}
					</p>
				</section>
			</f:if>

			<section class="lage">
				<h2>Lage</h2>
				<ol>
					<s:transpose name="standorte" arrays="{
									name: document.ort,
									bistum: document.bistum,
									ist_erzbistum: document.ist_erzbistum,
									wuestung: document.wuestung,
									land: document.land,
									von_verbal: document.standort_von_verbal,
									bis_verbal: document.standort_bis_verbal,
									bemerkung: document.bemerkung_kloster_standort
						}">
						<f:for each="{standorte}" as="standort">
							<li>
								<p>
									<f:if condition="{0:standort.von_verbal, 1:standort.bis_verbal} != {0:'', 1:''}">
										<span class="zeitraum">{standort.von_verbal} – {standort.bis_verbal}</span>
									</f:if>
									<span class="ort">
										<f:link.action arguments="{q: '{default: \'ort:\"{standort.name}\"\'}'}" title="Alle Klöster in {standort.name} zeigen.">{standort.name}</f:link.action></span>{f:if(condition:standort.wuestung, then:' <span class="wuestung">(Wüstung)</span>')},
									<f:if condition="{standort.bemerkung}">
										<span class="bemerkung">{standort.bemerkung},</span>
									</f:if>

									<span class="land">{standort.land}</span>

									<f:if condition="{standort.bistum}">
										<p class="bistum">
											<f:link.action arguments="{q: '{default: \'bistum:\"{standort.bistum}\"\'}'}" title="Alle Klöster im {f:if(condition:standort.ist_erzbistum, then:'Erzbistum', else:'Bistum')} {standort.bistum} zeigen.">
												{f:if(condition:standort.ist_erzbistum, then:'Erzbistum', else:'Bistum')}
												{standort.bistum}
											</f:link.action>
										</p>
									</f:if>
								</p>
							</li>
						</f:for>
					</s:transpose>
				</ol>
			</section>

			<section class="orden">
				<h2>Orden</h2>
				<ol>
					<s:transpose name="ordens" arrays="{
									name: document.orden,
									von_verbal: document.orden_von_verbal,
									bis_verbal: document.orden_bis_verbal
						}">
						<f:for each="{ordens}" as="orden">
							<li>
								<p>
									<f:if condition="{0:orden.von_verbal, 1:orden.bis_verbal} != {0:'', 1:''}">
										<span class="zeitraum">{orden.von_verbal} – {orden.bis_verbal}</span>
									</f:if>
									<span class="orden">
										<f:link.action arguments="{q: '{default: \'orden:\"{orden.name}\"\'}'}" title="Alle Klöster der {orden.name} zeigen.">
											{orden.name}
										</f:link.action>
									</span>
								</p>
							</li>
						</f:for>
					</s:transpose>
				</ol>
			</section>

			<f:if condition="{document.bemerkung_kloster.0}">
				<section class="bemerkung">
					<h2>Bemerkung</h2>
					<p>{document.bemerkung_kloster.0}</p>
				</section>
			</f:if>

			<f:if condition="{document.band_nummer}">
				<section class="germania-sacra">
					<h2>Germania-Sacra-Band</h2>
					<p>
						<f:if condition="{document.band_url}">
							<f:then>
								<f:link.external class="band-link" uri="{document.band_url.0}">
									<span class="band-nummer">{document.band_nummer.0}</span>:
									<span class="band-titel">{document.band_titel.0}</span>
								</f:link.external>
							</f:then>
							<f:else>
								<span class="band-nummer">{document.band_nummer.0}</span>:
								<span class="band-titel">{document.band_titel.0}</span>
							</f:else>
						</f:if>
						<f:if condition="{document.band_seite.0}">
							<span class="seite">S. {document.band_seite.0}</span>
						</f:if>
					</p>
				</section>
			</f:if>

			<f:if condition="{document.person_name}">
				<section class="person">
					<h2>
						<f:if condition="{f:count(subject:document.person_name)} == 1">
							<f:then>Person</f:then>
							<f:else>Personen</f:else>
						</f:if>
					</h2>

					<s:transpose name="personen" arrays="{
									name: document.person_name,
									namensalternativen_xml: document.person_namensalternativen_xml,
									bezeichnung: document.person_bezeichnung,
									von_verbal: document.person_von_verbal,
									bis_verbal: document.person_bis_verbal,
									anmerkung: document.person_anmerkung,
									gso: document.person_gso
						}">

						<f:if condition="{f:count(subject:personen)} > 20">
							<nav>
								<ol>
									<f:groupedFor each="{personen}" as="personenMitAmt" groupBy="bezeichnung" groupKey="amt">
										<li><f:link.page addQueryString="1" section="c-{document.id}-amt-{amt}">{f:count(subject:personenMitAmt)}&nbsp;<f:if condition="{f:count(subject:personenMitAmt)} == 1"><f:then>{amt}</f:then><f:else>{amt}s</f:else></f:if></f:link.page></li>
									</f:groupedFor>
								</ol>
							</nav>
						</f:if>

						<f:groupedFor each="{personen}" as="personenMitAmt" groupBy="bezeichnung" groupKey="amt">
							<section>
								<h3 id="c-{document.id}-amt-{amt}">
									{f:count(subject:personenMitAmt)}
									<f:if condition="{f:count(subject:personenMitAmt)} == 1">
										<f:then>{amt}</f:then>
										<f:else>{amt}s</f:else>
									</f:if>
								</h3>
								<ol>
									<f:for each="{personenMitAmt}" as="person">
										<li>
											<f:if condition="{person.von_verbal}{person.bis_verbal}">
												<span class="zeitraum">{person.von_verbal}{f:if(condition:person.bis_verbal, then:'-')}{person.bis_verbal}</span>
											</f:if>
											<f:link.external title="{person.bezeichnung} {person.name} in der Personendatenbank anzeigen" uri="http://personendatenbank.germania-sacra.de/index/gsn/{person.gso}">
												<f:if condition="{person.name}">
													<span class="name">{person.name}</span>
												</f:if>
											</f:link.external>
											<f:if condition="{person.namensalternativen_xml}">
												{person.namensalternativen_xml->f:format.raw()}
											</f:if>
											<f:if condition="{person.anmerkung}">
												<span class="bemerkung">{person.anmerkung}</span>
											</f:if>
										</li>
									</f:for>
								</ol>
							</section>
						</f:groupedFor>
					</s:transpose>
				</section>
			</f:if>


			<f:if condition="{document.literatur}">
				<section class="literatur">
					<h2>Literatur</h2>
					<ul>
						<f:for each="{document.literatur}" as="literatur" key="index">
							<li>
								{literatur}
							</li>
						</f:for>
					</ul>
				</section>
			</f:if>

			<section class="permalink">
				<h2>Zitierlink</h2>
				<p>
					<f:link.external uri="http://kloester.germania-sacra.de/gsn/{document.sql_uid}">
						http://kloester.germania-sacra.de/gsn/{document.sql_uid}
					</f:link.external>
				</p>
			</section>

			<section class="link">
				<f:if condition="{document.url}">
					<h2>Links</h2>
					<ul>
						<f:for each="{document.url}" as="url" key="index">
							<f:if condition="{0:'{s:valueForKey(array:document.url_art, key:index)}'} != {0:'Dokument'}">
								<li>
									<f:link.external uri="{url}">
										<f:translate key="label-url_type-{s:valueForKey(array:document.url_art, key:index)}" default="{s:valueForKey(array:document.url_art, key:index)}"/>
										<f:if condition="{s:valueForKey(array:document.url_bemerkung, key:index)}">
											– {s:valueForKey(array:document.url_bemerkung, key:index)}
										</f:if>
									</f:link.external>
								</li>
							</f:if>
						</f:for>
					</ul>
				</f:if>
			</section>
		</div>

	</article>
</f:section>