{namespace s=Tx_SolrFrontend_ViewHelpers}
<style type="text/css">
	aside { float: right; width: 250px; background: #fff;}
	.map { height: 250px; }
</style>

<article>
	<h1>{document.kloster}</h1>

	<aside>
		<div id="c-{document.id}-map" class="map"></div>
		<script type="text/javascript">
			function mapsReady () {
				var mapOptions = {
					'mapTypeId': google.maps.MapTypeId.ROADMAP,
				};

				var mapContainer = document.getElementById('c-{document.id}-map');
				var map = new google.maps.Map(mapContainer, mapOptions);
				var containingBounds = new google.maps.LatLngBounds();
				var point;
				var title;
				<f:for each="{document.koordinaten}" as="koordinaten" key="index">
				point = new google.maps.LatLng({koordinaten});
				title = {s:valueForKey(array:document.ort, key:index, format:"json")};
				new google.maps.Marker({
					'map': map,
					'position': point,
					'title': title
				});
				containingBounds.extend(point);
				</f:for>
				var NE = containingBounds.getNorthEast();
				var SW = containingBounds.getSouthWest();
				var center = containingBounds.getCenter();
				var width = Math.abs(NE.lng() - SW.lng());
				var minimumWidth = 0.01;
				if (width < minimumWidth) {
					containingBounds = new google.maps.LatLngBounds(
						new google.maps.LatLng(SW.lat(), center.lng() - minimumWidth/2),
						new google.maps.LatLng(NE.lat(), center.lng() + minimumWidth/2)
					);
				}
				map.fitBounds(containingBounds);
				console.log(map.getZoom());
			}

			var loadScript = function () {
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=mapsReady';
				document.body.appendChild(script);
			}

			jQuery(loadScript);
		</script>

	</aside>

	<p class="patrozinium">
		Patrozinium: {document.patrozinium}
	</p>

	<f:if condition="{document.band_nummer}">
		<p class="germania-sacra">
			Germania Sacra
			<f:if condition="{document.band_url}">
				<f:then>
					<f:link.external uri="{document.band_url.0}">
					{document.band_nummer.0}: {document.band_titel.0}
					</f:link.external>
				</f:then>
				<f:else>
					{document.band_nummer.0}: {document.band_titel.0}
				</f:else>
			</f:if>
		</p>
	</f:if>

	<section class="standorte">
		<h2>Standorte</h2>
		<f:for each="{document.ort}" as="ort" key="index">
			<h3>
				{ort}
			</h3>
			
			<p class="zeitraum">
				<s:valueForKey array="{document.standort_von_verbal}" key="{index}"/>
				-
				<s:valueForKey array="{document.standort_bis_verbal}" key="{index}"/>
			</p>
			<p class="bistum">
				<f:if condition="{s:valueForKey(array:document.kirchenprovinz, key:index)}">
					Kirchenprovinz
					<s:valueForKey array="{document.kirchenprovinz}" key="{index}"/>,
				</f:if>
				<f:if condition="{s:valueForKey(array:document.bistum, key:index)}">
					<f:if condition="{s:valueForKey(array:document.ist_erzbistum, key:index)}">
						<f:then>
							Erzistum
						</f:then>
						<f:else>
							Bistum
						</f:else>
					</f:if>
					<s:valueForKey array="{document.bistum}" key="{index}"/>
				</f:if>
			</p>
			<f:if condition="{s:valueForKey(array:document.gruender, key:index)}">
				<p>
					Gründer:
					<s:valueForKey array="{document.gruender}" key="{index}"/>
				</p>
			</f:if>
			<f:if condition="{s:valueForKey(array:document.bemerkung_standort, key:index)}">
				<p class="bemerkung">
					<s:valueForKey array="{document.bemerkung_standort}" key="{index}"/>
				</p>
			</f:if>
			<f:if condition="{s:valueForKey(array:document.bemerkung_standort, key:index)}">
				<p class="bemerkung">
					<s:valueForKey array="{document.bemerkung_standort}" key="{index}"/>
				</p>
			</f:if>
		</f:for>
	</section>


	<section class="orden">
		<h2>Ordenszugehörigkeit</h2>
		<f:for each="{document.orden}" as="orden" key="index">
			<h3>
				{orden}
				<span class="extra-info">
					<s:valueForKey array="{document.ordenstyp}" key="{index}"/>
					<f:if condition="{s:valueForKey(array:document.ordo, key:index)}">
						/
						<s:valueForKey array="{document.ordo}" key="{index}"/>
					</f:if>
					<f:if condition="{s:valueForKey(array:document.symbol, key:index)}">
						/
						<s:valueForKey array="{document.symbol}" key="{index}"/>
					</f:if>
				</span>
			</h3>

			<p class="zeitraum">
				<s:valueForKey array="{document.orden_von_verbal}" key="{index}"/>
				-
				<s:valueForKey array="{document.orden_bis_verbal}" key="{index}"/>
			</p>
			<f:if condition="{s:valueForKey(array:document.bemerkung_orden, key:index)}">
				<p class="bemerkung">
					<s:valueForKey array="{document.bemerkung_orden}" key="{index}"/>
				</p>
			</f:if>
			<f:if condition="{s:valueForKey(array:document.status, key:index)}">
				<p class="bemerkung">
					<s:valueForKey array="{document.status}" key="{index}"/>
				</p>
			</f:if>
		</f:for>
	</section>

	<f:if condition="{document.literatur}">
		<section class="literatur">
			<h2>Literatur</h2>
			<ul>
				<f:for each="{document.literatur}" as="literatur" key="index">
					<li id="literatur-{s:valueForKey(array:document.literatur-id, key:index)}">
						{literatur}
					</li>
				</f:for>
			</ul>
		</section>
	</f:if>

</article>

