{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	Renders a dt/dd pair for the field named field of the document passed.
	Takes into account whether the field is repeatable or not and uses the
	appropriate label.
</f:comment>
<f:alias map="{fieldContent:'{s:data.valueForKey(array:document.fields, key:field)}'}">
	<f:if condition="{fieldContent}">
		<dt class="dt-{field}">
			<f:if condition="{s:data.isArray(subject:fieldContent)}">
				<f:then>
					<f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}.plural" default="{field}"/>
				</f:then>
				<f:else>
					<f:translate key="LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}" default="{field}"/>
				</f:else>
			</f:if>
		</dt>
		<dd class="dd-{field}">
			<f:render
				partial="Display/Field/List"
				arguments="{
					document:document,
					results:results,
					field:field,
					linkFieldContent:linkFieldContent,
					linkFacets:linkFacets
				}"/>
		</dd>
	</f:if>
</f:alias>