{namespace s=Tx_Find_ViewHelpers}
<f:if condition="{document.band_nummer}">
	<section class="germania-sacra">
		<h2>Germania-Sacra-Band</h2>
		<p>
			<f:if condition="{document.band_url}">
				<f:then>
					<f:if condition="{document.band_seite}">
						<f:then>
							<f:if condition="{document.band_url_seitengenau}">
								<f:then>
									<!-- seitengenauer Link -->
									<f:link.external
										uri="{document.band_url_seitengenau.0}/{s:regexp(string:document.band_seite.0, match:'/^([0-9]+).*/', replace:'$1')}"
										class="band-link"
									>

										<span class="band-nummer">{s:highlightField(field:'band_nummer', document:document, results:results, index:0)}</span>:
										<span class="band-titel">{s:highlightField(field:'band_titel', document:document, results:results, index:0)}</span>,
										<span class="seite">S. {document.band_seite.0}</span>
									</f:link.external>
								</f:then>
								<f:else>
									<!-- bandgenauer Link, Seiteninformation angezeigt -->
									<f:link.external uri="{document.band_url.0}"  class="band-link">
										<span class="band-nummer">{s:highlightField(field:'band_nummer', document:document, results:results, index:0)}</span>:
										<span class="band-titel">{s:highlightField(field:'band_titel', document:document, results:results, index:0)}</span></f:link.external>,
									<span class="seite">S. {document.band_seite.0}</span>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<!-- keine Seiteninformation vorhanden -->
							<f:link.external uri="{document.band_url.0}" class="band-link">
								<span class="band-nummer">{s:highlightField(field:'band_nummer', document:document, results:results, index:0)}</span>:
								<span class="band-titel">{s:highlightField(field:'band_titel', document:document, results:results, index:0)}</span></f:link.external>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<!-- keine URL vorhanden -->
					<span class="band-nummer">{s:highlightField(field:'band_nummer', document:document, results:results, index:0)}</span>:
					<span class="band-titel">{s:highlightField(field:'band_titel', document:document, results:results, index:0)}</span><f:if condition="{document.band_seite.0}">,
					<span class="seite">S. {document.band_seite.0}</span>
				</f:if>
				</f:else>
			</f:if>
		</p>
	</section>
</f:if>