{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>TODO: Add facet queries</f:comment>
<div class="formatDownload">
	<span class="formatName">{downloadFormat}</span> Download:
	<f:alias map="{
		pager:'{s:find.pageList(
			currentPage:1,
			perPage:500,
			resultCount:results.numfound,
			adjacentPages:10000,
			minimumGapSize:10000
		)}'
	}">
		<ul class="downloadGroup">
			<f:for each="{pager.pages}" as="page" iteration="iterator">
				<s:data.newArray name="newQ">
					<f:for each="{arguments.q}" as="argument" key="key">
						<s:data.newArray
							name="newQ"
							global="1"
							array="{newQ}"
							keys="{1:'{key}-nojoin'}"
							values="{1:argument}"
						/>
					</f:for>
					<f:for each="{arguments.facet}" as="value" key="key">
						<f:for each="{value}" as="unused" key="term">
							<s:data.newArray
								name="newQ"
								global="1"
								array="{newQ}"
								keys="{1:'{key}-facet-nojoin'}"
								values="{1:term}"
							/>
						</f:for>
					</f:for>
					<li class="downloadGroup">
						<f:link.action
							arguments="{
								q:newQ,
								page:page.number,
								count:'{f:if(condition:iterator.isLast, then:1000, else:500)}',
								data-format:downloadFormat,
								data-fields:'*'
							}"
							action="index"
							format="data"
							pageType="{downloadFormatPageType}"
							noCacheHash="1"
						>{page.number}</f:link.action>
					</li>
				</s:data.newArray>
			</f:for>
		</ul>
	</f:alias>
</div>