{namespace s=Tx_Find_ViewHelpers}
<f:security.ifHasRole role="Germania Sacra">
	<f:if condition="{f:count(subject:results.documents)} > 0">
		<div class="downloadLinks">
			<f:alias map="{
				downloadFormat:'csv',
				downloadFormatPageType:'1378902868'
			}">
				<f:render partial="GS/DownloadLink" arguments="{_all}"/>
			</f:alias>
			<f:alias map="{
				downloadFormat:'bna',
				downloadFormatPageType:'1378914906'
			}">
				<f:render partial="GS/DownloadLink" arguments="{_all}"/>
			</f:alias>
		</div>
	</f:if>
</f:security.ifHasRole>