{namespace s=Tx_Find_ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<f:if condition="{document.koordinaten}">
	<aside>
		<h2>Karte</h2>
		<div id="c-{document.id}-map" class="map"></div>
		<t3jquery:addJQueryAndScript>
			var ID = {s:json(data:document.id)};
			var standorte = [];
			var koordinaten, titel, queryURL, institutionengenau, icon;
			<f:for each="{document.koordinaten}" as="koordinaten" key="index">
				koordinaten = {s:json(data:koordinaten)};
				titel = {s:json(data:document.kloster)};
				queryURL = "<f:uri.action
					arguments="{
						q:{raw:'_query_:\"{!geofilt pt={koordinaten} sfield=koordinaten d=100}\" AND typ:kloster'},
						count:1000,
						dataFields:'id,koordinaten,kloster,ort,orden_graphik,orden,orden_von_von,orden_bis_bis,standort_von_von,standort_bis_bis',
						data-format:'json-solr-results'
					}"
					action="data"
					pageType="1369315139"
					noCacheHash="1"/>";
				institutionengenau = {s:json(data:"{s:valueForKey(array:document.koordinaten_institutionengenau, key:index)}")};
				icon = {s:json(data:"{s:valueForKey(array:document.orden_graphik, key:index)}")};
				standorte.push({
					koordinaten: koordinaten,
					titel: titel,
					queryURL: queryURL,
					institutionengenau: institutionengenau,
					icon: icon
				});
			</f:for>

			germaniaSacra.initialise({
				ID: ID,
				standorte: standorte
			});
		</t3jquery:addJQueryAndScript>
	</aside>
</f:if>