{namespace s=Subugoe\Find\ViewHelpers}
<section class="link">
	<f:if condition="{document.url}">
		<h2>
			<f:if condition="{f:count(subject:document.url} == 1">
				<f:then>Link</f:then>
				<f:else>Links</f:else>
			</f:if>
		</h2>
		<ul>
			<s:data.transpose name="urls" arrays="{
				url: document.url,
				typ: document.url_typ,
				bemerkung: \"{s:find.highlightField(field:'url_bemerkung', document:document, results:results)}\"
			}">
				<f:for each="{urls}" as="url">
					<li>
						<f:link.external uri="{url.url}">
							<f:translate key="label-url_type-{url.typ}" default="{url.typ}"/>
							<f:if condition="{url.bemerkung}">
								– {f:format.raw(value:url.bemerkung)}
							</f:if>
						</f:link.external>
					</li>
				</f:for>
			</s:data.transpose>
		</ul>
	</f:if>
</section>
