{namespace s=Tx_Find_ViewHelpers}
<section class="orden">
	<h2>Orden</h2>
	<ol>
		<s:transpose name="ordens" arrays="{
			name: \"{s:highlightField(field:'orden', document:document, results:results)}\",
			nameOriginal: document.orden,
			von_verbal: \"{s:highlightField(field:'orden_von_verbal', document:document, results:results)}\",
			bis_verbal: \"{s:highlightField(field:'orden_bis_verbal', document:document, results:results)}\"
		}">
			<f:for each="{ordens}" as="orden">
				<li>
					<p>
						<f:if condition="{0:orden.von_verbal, 1:orden.bis_verbal} != {0:'', 1:''}">
							<span class="zeitraum">{f:format.raw(value:orden.von_verbal)} – {f:format.raw(value:orden.bis_verbal)}</span>
						</f:if>
						<span class="orden">
							<f:link.action arguments="{q:'{default: \'orden:\"{orden.nameOriginal}\"\'}'}" noCacheHash="1" title="Alle Klöster der {orden.nameOriginal} zeigen.">
								{f:format.raw(value:orden.name)}
							</f:link.action>
						</span>
					</p>
				</li>
			</f:for>
		</s:transpose>
	</ol>
</section>