{namespace s=Tx_Find_ViewHelpers}
<section class="orden">
	<h2>Orden</h2>
	<ol>
		<s:transpose name="ordens" arrays="{
			name: \"{s:highlightField(field:'orden', document:document, results:results)}\",
			nameOriginal: document.orden,
			von_verbal: \"{s:highlightField(field:'orden_von_verbal', document:document, results:results)}\",
			bis_verbal: \"{s:highlightField(field:'orden_bis_verbal', document:document, results:results)}\"
		}">
			<f:for each="{ordens}" as="orden">
				<li>
					<p>
						<f:if condition="{0:orden.von_verbal, 1:orden.bis_verbal} != {0:'', 1:''}">
							<span class="zeitraum">{f:format.raw(value:orden.von_verbal)} – {f:format.raw(value:orden.bis_verbal)}</span>
						</f:if>
						<span class="orden">
							<s:newArray
								name="linkArguments"
								keys="{0:'q', 1:'sort', 2:'count', 3:'extended'}"
								values="{
									0:'{orden:\"{orden.nameOriginal}\"}',
									1:arguments.underlyingQuery.sort,
									2:arguments.underlyingQuery.count,
									3:'1'
								}"
								omitEmptyFields="1"
							>
								<f:link.action
									action="index"
									arguments="{linkArguments}"
									noCacheHash="1"
									section="{settings.jumpToID}"
									class="internal"
									title="Alle Klöster der {orden.nameOriginal} zeigen."
								>
									{f:format.raw(value:orden.name)}
								</f:link.action>
							</s:newArray>
						</span>
					</p>
				</li>
			</f:for>
		</s:transpose>
	</ol>
</section>