{namespace s=Subugoe\Find\ViewHelpers}
<f:if condition="{document.url_quelle}">
	<section class="quelle">
		<h2>Detailinformationen</h2>
		<ul>
			<s:data.transpose name="quellen" arrays="{
				url: document.url_quelle,
				titel: document.url_quelle_titel
			}">
				<f:for each="{quellen}" as="quelle">
					<li>
						<f:link.external uri="{quelle.url}">
							<f:if condition="{quelle.titel}">
								<f:then>
									{quelle.titel}
								</f:then>
								<f:else>
									{quelle.url}
								</f:else>
							</f:if>
						</f:link.external>
					</li>
				</f:for>
			</s:data.transpose>
		</ul>
	</section>
</f:if>
