{namespace s=Tx_Find_ViewHelpers}
<f:if condition="{prefixString}">
	<span class="prefix-{field}">{prefixString}</span>
</f:if>
<f:if condition="{linkFieldContent}">
	<f:then>
		<f:alias map="{
			fieldName:'{f:translate(key:\"LLL:{settings.languageRootPath}locallang-fields.xml:field.{field}\", default:field)}',
			fieldContent:'{s:valueForKey(array:document.fields, key:field)}',
			highlightedFieldContent:'{s:highlightField(results:results, document:document, field:field, index:iterator.index)}'
		}">
			<f:if condition="{s:isArray(subject:fieldContent)}">
				<f:then>
					<f:link.action
						action="index"
						arguments="{
							q:'{raw:\'{field}:\"{s:valueForKey(array:fieldContent, key:iterator.index)}\"\'}',
							facet:linkFacets
						}"
						noCacheHash="1"
						class="internal"
						title="{f:translate(
							key:'Alle Datensätze mit %1$s »%2$s« zeigen.',
							arguments:'{1:fieldName, 2:fieldContent}'
						)}"
					>
						{highlightedFieldContent->f:format.raw()}
					</f:link.action>
				</f:then>
				<f:else>
					<f:link.action
						action="index"
						arguments="{
							q:'{raw:\'{field}:\"{fieldContent}\"\'}',
							facet:linkFacets
						}"
						noCacheHash="1"
						class="internal"
						title="{f:translate(
							key:'Alle Datensätze mit %1$s »%2$s« zeigen.',
							arguments:'{1:fieldName, 2:fieldContent}'
						)}"
					>
						{highlightedFieldContent->f:format.raw()}
					</f:link.action>
				</f:else>
			</f:if>
		</f:alias>
	</f:then>
	<f:else>
		<s:highlightField
			field="{field}"
			document="{document}"
			results="{results}"
			index="{iterator.index}"
			alternateField="{s:valueForKey(array:settings.highlight.alternateFields, key:field)}"
		/>
	</f:else>
</f:if>