{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	Creates output for field contents.
	Takes into account whether the field is an array and inserts the prefixes
	and suffixes configured in the variables passed to this partial:
		* results:results,
		* document:document,
		* field:field,
		* prefixString
		* groupPrefix
		* groupSuffix
		* groupItemPrefix
		* groupItemSuffix
		* fieldPrefix
		* fieldSuffix
		* separator
		* linkFieldContent
		* linkFacets
		* config
	The Display/Field/Inline and Display/Field/List partials provide readymade
	configurations for the typical display cases.
</f:comment>
<f:if condition="{s:data.valueForKey(array:document.fields, key:field)}">
	<f:if condition="{s:data.isArray(subject:'{s:data.valueForKey(array:document.fields, key:field)}')}">
		<f:then>
			{groupPrefix->f:format.raw()}
			<f:if condition="{prefixString}">
				<span class="prefix-{field}">{prefixString}</span>
			</f:if>
			<f:for each="{s:data.valueForKey(array:document.fields, key:field)}" as="value" iteration="iterator">
				{groupItemPrefix->f:format.raw()}{fieldPrefix->f:format.raw()}
					<f:render partial="Display/Field/Content" arguments="{_all}"/>
				{fieldSuffix->f:format.raw()}{f:if(condition:"{iterator.isLast}==0", then:separator)}{groupItemSuffix->f:format.raw()}
			</f:for>
			{groupSuffix->f:format.raw()}
		</f:then>
		<f:else>
			{fieldPrefix->f:format.raw()}
			<f:if condition="{prefixString}">
				<span class="prefix-{field}">{prefixString}</span>
			</f:if>
			<f:render partial="Display/Field/Content" arguments="{_all}"/>
			{fieldSuffix->f:format.raw()}
		</f:else>
	</f:if>
</f:if>