<f:comment>
	Used to render field contents as an inline sequence of items (in <span> tags).
	You need to pass the variables:
		* results (result set)
		* document (the document you are rendering)
		* field (name of the field to be rendered)
		* prefixString (precedes the output)
		* separator (between the items)
		* linkFieldContent (wrap each item in a link with a query for that field value?)
		* linkFacets (add a facet selection to the query link?)
		* config (extension configuration)
</f:comment>
<f:render
	partial="Display/Field/General"
	arguments="{
		results:results,
		document:document,
		field:field,
		prefixString:prefixString,
		groupPrefix:'<span class=\"field-{field}-group\">',
		groupSuffix:'</span>',
		groupItemPrefix:'',
		groupItemSuffix:'',
		fieldPrefix:'<span class=\"field-{field}\">',
		fieldSuffix:'</span>',
		separator:separator,
		linkFieldContent:linkFieldContent,
		linkFacets:linkFacets,
		config:config
	}"
/>