{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	Creates radio buttons inputs using the keys and values from the field
	configuration’s options array.
</f:comment>
<span class="radioGroup">
	<span class="fieldLabel radioGroupLabel">
		<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}" default="{fieldInfo.id}"/>:
	</span>
	<span class="inputContainer">
		<f:for each="{fieldInfo.options}" as="value" key="key">
			<f:form.radio
				id="c{config.uid}-field-{fieldInfo.id}-{key}"
				name="q[{fieldInfo.id}]"
				value="{key}"
				checked="{f:if(
					condition:queryParameter,
					then:'{f:if(condition:\"{key}=={queryParameter}\", then:1, else:0)}',
					else:'{f:if(condition:\"{0:key}=={0:fieldInfo.default}\", then:1, else:0)}'
				)}"
			/>
			<label for="c{config.uid}-field-{fieldInfo.id}-{key}">
				<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-{value}" default="{value}"/>
			</label>
		</f:for>
	</span>
</span>