{namespace s=Subugoe\Find\ViewHelpers}
<f:comment>
	The range field creates two text inputs for the arguments q.{fieldInfo.id}.0 and q.{fieldInfo.id}.1.
	Example query configuration:
		from:[* TO %2$s] AND to:[%1$s TO *]
</f:comment>
<span class="fieldLabel">
	<label for="c{config.uid}-field-{fieldInfo.id}-from">
		<f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-from" default="{fieldInfo.id}"/></label><label for="c{config.uid}-field-{fieldInfo.id}-to"><f:translate key="LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-to" default="{fieldInfo.id}"/>:
	</label>
</span>
<span class="inputContainer">
	<f:form.textfield
		id="c{config.uid}-field-{fieldInfo.id}-from"
		name="q[{fieldInfo.id}][0]"
		value="{s:data.valueForKey(array:queryParameter, key:'0')}"
		placeholder="{f:translate(key:'LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-from.placeholder')}"
	/>
	-
	<f:form.textfield
		id="c{config.uid}-field-{fieldInfo.id}-to"
		class="noleftmargin"
		name="q[{fieldInfo.id}][1]"
		value="{s:data.valueForKey(array:queryParameter, key:'1')}"
		placeholder="{f:translate(key:'LLL:{settings.languageRootPath}locallang-form.xml:input.{fieldInfo.id}-to.placeholder')}"
	/>
</span>