{namespace s=Tx_Find_ViewHelpers}
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
<t3jquery:addJQueryAndScript jsfile="EXT:find/Projects/edfu/Resources/fotorama/product/fotorama.uncompressed.js"/>
<t3jquery:addJQueryAndScript jsfile="EXT:find/Projects/edfu/Resources/ddpowerzoomer.js"/>
<s:linkCSS file="EXT:find/Projects/edfu/Resources/fotorama/product/fotorama.css"/>
<h1>
	<div class="technical">
		<f:render partial="Edfu/Stellen" arguments="{_all}"/>
		<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'texttyp', linkFieldContent:1}"/>
	</div>
</h1>
<section class="general">
	<f:if condition="{s:or(conditions:'{0:\"{f:security.ifHasRole(role:\'Edfu\', then:1, else:0)}\", 1:document.fields.freigegeben.0}')}">
		<f:then>
			<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'transliteration', separator:', '}"/>
			<f:render partial="Edfu/Uebersetzung" arguments="{results:results, document:document}"/>
		</f:then>
		<f:else>
			<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Die Bearbeitung der Übersetzung und Transliteration dieser Stelle ist noch nicht abgeschlossen."/>
		</f:else>
	</f:if>
</section>
<section class="photos">
	<h1><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Photos"/></h1>
	<div class="imageControls">
		<div class="control-container">
			<span class="slider-label">{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Kontrast')}</span>
			<div id="slider-contrast" class="slider"></div>
		</div>
		<div class="control-container">
			<span class="slider-label">{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Helligkeit')}</span>
			<div id="slider-brightness" class="slider"></div>
		</div>
	</div>

	<div class="fotorama-container">
		<ul class="photos fotorama" data-auto="false" data-width="100%" data-ratio="1.5" data-hash="true" data-max-height="100%" data-nav="thumbs" data-thumb-height="100" data-thumb-width="100" data-keyboard="true">
			<f:for each="{document.photo_pfad}" as="photo_pfad">
				<f:alias map="{
					path:'fileadmin/edfu-data/Photos/{photo_pfad}.{f:if(
						condition:\"{s:regexp(string:photo_pfad, match:\'/^SW/\')}\",
						then:\"jpg\",
						else:\"JPG\"
					)}',
					photo_name:'{s:regexp(string:photo_pfad, match:\'|.*/(.*)|\', replace:\'\\1\')}'}">
					<li>
						<f:if condition="{s:pathExists(path:path)}">
							<f:then>
								<a href="{f:uri.image(src:path, maxHeight:4000px, maxWidth:4000px)}" data-caption="{photo_name}" id="c{uid}-collection-{collection.id}-photo-{photo_name}">
									<f:image src="{path}" alt="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Photo »%s« aus dem Edfu-Projekt.', arguments:{0:photo_name})}" width="300m" height="300m"additionalAttributes="{data-caption:path}"/>
								</a>
							</f:then>
							<f:else>
								<div class="imageName" data-caption="{photo_name}">
									<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Photo »%s« ist nicht online verfügbar." arguments="{0:photo_name}"/>
								</div>
							</f:else>
						</f:if>
					</li>
				</f:alias>
			</f:for>
		</ul>

		<a class="new-window icon-popup" target="_blank" title="{f:translate(key:'LLL:{settings.languageRootPath}locallang-edfu.xml:Bild in neuem Fenster zeigen')}"></a>
	</div>
</section>
<f:render partial="Edfu/Chassinat" arguments="{_all}"/>
<f:render partial="Edfu/Szenen" arguments="{_all}"/>
<f:if condition="{document.fields.literatur}">
	<section class="literatur">
		<h1><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Literatur"/></h1>
		<f:render partial="Display/Field/List" arguments="{results:results, document:document, field:'literatur', separator:', '}"/>
	</section>
</f:if>
