{namespace s=Subugoe\Find\ViewHelpers}
<h1>
	<div class="technical">
		<f:render partial="Edfu/Stellen" arguments="{_all}"/>
		<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'texttyp', linkFieldContent:1}"/>
	</div>
</h1>
<section class="general">
	<f:if condition="{s:logic.or(conditions:'{0:\"{f:security.ifHasRole(role:\'Edfu\', then:1, else:0)}\", 1:document.fields.freigegeben.0}')}">
		<f:then>
			<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'transliteration', separator:', '}"/>
			<f:render partial="Edfu/Uebersetzung" arguments="{results:results, document:document}"/>
		</f:then>
		<f:else>
			<f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Die Bearbeitung der Übersetzung und Transliteration dieser Stelle ist noch nicht abgeschlossen."/>
		</f:else>
	</f:if>
</section>
<f:render partial="Edfu/Photos" arguments="{_all}"/>
<f:render partial="Edfu/Chassinat" arguments="{_all}"/>
<f:render partial="Edfu/Szenen" arguments="{_all}"/>
<f:if condition="{document.fields.literatur}">
	<section class="literatur">
		<h1><f:translate key="LLL:{settings.languageRootPath}locallang-edfu.xml:Literatur"/></h1>
		<f:render partial="Display/Field/List" arguments="{results:results, document:document, field:'literatur', separator:', '}"/>
	</section>
</f:if>
