{namespace s=Subugoe\Find\ViewHelpers}
<section class="general">
	<h1>
		<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'transliteration', separator:', '}"/>
		<f:render partial="Display/Field/Inline" arguments="{results:results, document:document, field:'beziehung', separator:', '}"/>
	</h1>
	<dl>
		<f:render partial="Display/DLField" arguments="{results:results, document:document, field:'eponym'}"/>
		<f:render partial="Display/DLField" arguments="{results:results, document:document, field:'funktion'}"/>
		<f:render partial="Display/DLField" arguments="{results:results, document:document, field:'ort',
														linkFieldContent:1, linkFacets:'{typ:\'{gott:1}\'}'}"/>
		<f:render partial="Display/DLField" arguments="{results:results, document:document, field:'anmerkung'}"/>
		<f:render partial="Edfu/StellenDLItem" arguments="{_all}"/>
	</dl>
</section>
<f:render partial="Edfu/Chassinat" arguments="{_all}"/>
<f:render partial="Edfu/Szenen" arguments="{_all}"/>
