/* Default SCSS for TYPO3 Extension »find« . */
.tx_find {
  /* search form */
  /* result list */
  /* facets */
  /* page browser list view */
  /* result count */
  /* page browser single item view */
  /* field list on single item view */
}
.tx_find .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.tx_find .hidden {
  display: none;
}
.tx_find article.detail {
  clear: both;
}
.tx_find em.highlight {
  font-weight: bold;
  color: red;
}
.tx_find form {
  position: relative;
  line-height: 150%;
}
.tx_find form .formFields {
  float: left;
}
.tx_find form .fieldContainer {
  float: left;
  clear: left;
}
.tx_find form .fieldContainer input {
  display: block;
  margin-left: 125px;
  margin-bottom: 2px;
  padding: 2px;
  border-color: #b3b3b3 #d2d2d2 #d2d2d2 #b3b3b3;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  background: #f3f5f9;
}
.tx_find form .field-default label {
  display: none;
}
.tx_find form .field-default input {
  float: left;
  width: 400px;
  height: 30px;
  margin: 0px 6px 2px 0px;
  padding: 4px;
  font-size: 175%;
}
.tx_find form label {
  display: block;
  float: left;
  width: 110px;
  text-align: right;
}
.tx_find form .controls {
  float: left;
  bottom: 0px;
}
.tx_find form .fieldType-search input:-moz-placeholder {
  color: #999;
}
.tx_find form .submit {
  display: block;
  float: left;
  height: 30px;
  background: url(../button_shade_large.png) repeat-x scroll 0 100% #f3f6fb;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #b4b4b4;
  color: #555555;
  font-weight: bold;
  line-height: 100%;
  padding: 3px 12px;
  margin-top: -1px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}
.tx_find form .submit:active {
  background-image: url(../button_shade_large_click.png);
  background-color: #e7e9ed;
}
.tx_find form a.extendedSearch {
  line-height: 30px;
  margin-left: 0.5em;
}
.tx_find form .field-mode-extended {
  display: none;
}
.tx_find form .sortOrder, .tx_find form .resultCountPicker {
  float: right;
  margin: 5px 0 0 0.5em;
}
.tx_find form .sortOrder label, .tx_find form .resultCountPicker label {
  width: auto;
}
.tx_find form .sortOrder select, .tx_find form .resultCountPicker select {
  position: relative;
  top: 2px;
  margin-left: 3px;
}
.tx_find form.search-extended .field-mode-extended {
  display: block;
}
.tx_find .results {
  clear: left;
  padding-top: 2em;
}
.tx_find .results .navigation {
  margin-bottom: 2em;
}
.tx_find .results ol.resultList {
  margin: 0 220px 0 0;
  padding-left: 3em;
}
.tx_find .results ol.resultList h1 {
  margin: 0;
  font-size: 133%;
  line-height: 133%;
}
.tx_find .results ol.resultList li:target {
  background: #eeeeff;
  border-radius: 7px;
  transition: background .5s ease-in-out;
}
.tx_find .facets {
  float: right;
  clear: right;
  width: 200px;
}
.tx_find article.facet, .tx_find .facet-type-Tabs {
  margin-bottom: 2em;
}
.tx_find article.facet h1, .tx_find .facet-type-Tabs h1 {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.tx_find article.facet .facetSearch, .tx_find .facet-type-Tabs .facetSearch {
  margin: 1em 0 0 0;
}
.tx_find article.facet ol, .tx_find .facet-type-Tabs ol {
  list-style-type: none;
  margin: 1em 0 0 0;
  padding-left: 0;
  line-height: 150%;
}
.tx_find article.facet ol.autocomplete, .tx_find .facet-type-Tabs ol.autocomplete {
  margin: 0.5em 0 0 0;
}
.tx_find article.facet .facetList li, .tx_find .facet-type-Tabs .facetList li, .tx_find article.facet .facetList .facet-type-Tabs ol li.facetActive, .tx_find .facet-type-Tabs ol article.facet .facetList li.facetActive, .tx_find .facet-type-Tabs .facetList ol li.facetActive, .tx_find .facet-type-Tabs ol .facetList li.facetActive {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}
.tx_find article.facet a, .tx_find .facet-type-Tabs a {
  display: block;
}
.tx_find article.facet .facetCount, .tx_find .facet-type-Tabs .facetCount {
  color: #666666;
  font-size: 80%;
}
.tx_find article.facet .facetActive, .tx_find .facet-type-Tabs .facetActive {
  display: block;
  background: red;
  border-radius: 5px;
  border: 1px solid #bb0000;
  line-height: 150%;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}
.tx_find article.facet .facetList .facetActive, .tx_find .facet-type-Tabs .facetList .facetActive {
  padding: 0;
  text-indent: 0;
  margin-bottom: 0.25em;
}
.tx_find article.facet .facetActive a, .tx_find .facet-type-Tabs .facetActive a {
  padding-left: 0.2em;
  color: white;
}
.tx_find article.facet .facetActive a:before, .tx_find .facet-type-Tabs .facetActive a:before {
  margin-right: 0.3em;
  margin-left: 0.1em;
}
.tx_find article.facet .facetShowAll a, .tx_find .facet-type-Tabs .facetShowAll a {
  font-style: italic;
  color: #666666;
}
.tx_find article.facet .facetShowAll a:hover, .tx_find .facet-type-Tabs .facetShowAll a:hover {
  color: black;
}
.tx_find article.facet .facetHistogram-container .facetActive, .tx_find .facet-type-Tabs .facetHistogram-container .facetActive {
  margin-bottom: 0.5em;
}
.tx_find article.facet .histogram, .tx_find .facet-type-Tabs .histogram {
  position: relative;
  left: -13px;
}
.tx_find article.facet .flot-x-axis .flot-tick-label:first-child, .tx_find .facet-type-Tabs .flot-x-axis .flot-tick-label:first-child {
  left: 13px!important;
}
.tx_find .facet-type-Tabs h1 {
  display: none;
}
.tx_find .facet-type-Tabs ol {
  border-bottom: 1px solid #bbbbbb;
}
.tx_find .facet-type-Tabs ol li, .tx_find .facet-type-Tabs ol li.facetActive {
  display: inline-block;
  margin: 0;
  border-radius: 10px 10px 0 0;
  border: 0px none;
}
.tx_find .facet-type-Tabs ol li a, .tx_find .facet-type-Tabs ol li.facetActive a {
  padding: 1em 0.5em 0em 0.5em;
  display: inline-block;
}
.tx_find .facet-type-Tabs ol li.facetActive, .tx_find .facet-type-Tabs ol li.facetActive {
  background: #263476;
  color: white;
}
.tx_find .facet-type-Tabs ol li.facetActive .facetCount, .tx_find .facet-type-Tabs ol li.facetActive .facetCount {
  color: #dddddd;
}
.tx_find .listPager {
  margin-right: 220px;
  text-align: center;
}
.tx_find .listPager * {
  margin: 0;
  padding: 0;
}
.tx_find .listPager ol {
  display: inline;
  list-style-type: none;
}
.tx_find .listPager ol li, .tx_find .listPager .facet-type-Tabs ol li.facetActive, .tx_find .facet-type-Tabs .listPager ol li.facetActive {
  display: inline;
}
.tx_find .listPager ol li a, .tx_find .listPager .facet-type-Tabs ol li.facetActive a, .tx_find .facet-type-Tabs .listPager ol li.facetActive a {
  padding: 0.4em;
}
.tx_find .listPager .current {
  font-weight: bold;
  color: black;
}
.tx_find .listPager .resultCount {
  margin-bottom: 2em;
}
.tx_find .resultCount {
  float: right;
  width: 200px;
  text-align: right;
}
.tx_find .queryAndPager {
  margin: 1em 0 2em 0;
}
.tx_find .queryAndPager .query {
  display: none;
}
.tx_find .queryAndPager .resultPager {
  display: block;
  float: right;
}
.tx_find .queryAndPager .resultPager .pager {
  color: #bbbbbb;
}
.tx_find .queryAndPager .resultPager .pager .icon-right-dir:before,
.tx_find .queryAndPager .resultPager .pager .icon-left-dir:before {
  position: relative;
  top: 1px;
  width: auto;
  padding: 0 4px;
  font-size: 133%;
}
.tx_find .queryAndPager .resultPager .pager [class^="icon-"]:hover,
.tx_find .queryAndPager .resultPager .pager [class*=" icon-"]:hover {
  text-decoration: none;
}
.tx_find .detail h1 {
  margin-bottom: 1em;
}
.tx_find dl {
  margin: 0;
}
.tx_find dt {
  font-weight: bold;
}
.tx_find dd {
  margin: 0.2em 0 1em 2em;
}
.tx_find dd ul {
  margin: 0;
}

#tx_find-histogram-tooltip {
  display: none;
  position: absolute;
  background: #fff;
}
