/* Default SCSS for TYPO3 Extension »find« . */

$current: #000;
$inactive: #bbb;
$textInverted: #fff;
$backgroundActive: #eef;
$highlight: #f00;
$highlightBorder: #b00;
$downlight: #666;
$downlightInverted: #ddd;
$tabSelected: #263476;

.tx_find {

	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.hidden {
		display: none;
	}

	article.detail {
		clear: both;
	}

	em.highlight {
		font-style: normal;
		font-weight: bold;
		color: $highlight;
	}


	/* search form */

	form {
		$borderA1: #b3b3b3;
		$borderA2: #d2d2d2;
		$backgroundA: #f3f5f9;
		$textA: #333;
		$borderB1: #d4d4d4;
		$borderB2: #b4b4b4;
		$backgroundB: #f3f6fb;
		$backgroundBActive: #e7e9ed;
		$textB: #555;
		
		
		position: relative;
		line-height: 150%;

		.formFields {
			float: left;
		}

		.fieldContainer {
			float: left;
			clear: left;


			input {
				display: block;
				margin-left: 125px;
			}
		}
		
		
		.field-default {
			label {
				display: none;
			}

			input {
				display: block;
				float: left;
				width: 400px;
				height: 30px;
				margin: 0px 6px 2px 0px;
				padding: 4px;
				border-style: solid;
				border-width: 1px;
				border-color: $borderA1 $borderA2 $borderA2 $borderA1;
				color: $textA;
				background: $backgroundA;
				font-size: 175%;
			}
		}

		label {
			display: block;
			float: left;
			width: 110px;
			text-align: right;
		}

		.controls {
			float: left;
			bottom: 0px;
		}

		.fieldType-search input:-moz-placeholder {
			color: #999;
		}

		.submit {
			display: block;
			float: left;
			height: 30px;
			background: url(../button_shade_large.png) repeat-x scroll 0 100% $backgroundB;
			border-style: solid;
			border-width: 1px;
			border-color:  $borderB1 $borderB2 $borderB2 $borderB1;
			border-radius: 3px 3px 3px 3px;
			border-right: 1px solid $borderB2;
			color: $textB;
			font-weight: bold;
			line-height: 100%;
			padding: 3px 12px;
			margin-top: -1px;
			text-align: center;
			text-decoration: none;
			text-shadow: 0 1px rgba(255, 255, 255, 0.75);
			text-transform: uppercase;
		}

		.submit:active {
			background-image: url(../button_shade_large_click.png);
			background-color: $backgroundBActive;
		}

		a.extendedSearch {
			line-height: 30px;
			margin-left: 0.5em;
		}

		.field-mode-extended {
			 display: none;
		}

		.search-extended .field-mode-extended {
			display: block;
		}

		.sortOrder, .resultCountPicker {
			float: right;
			margin: 5px 0 0 0.5em;
		
			label {
				width: auto;
			}
			
			select {
				position: relative;
				top: 2px;
				margin-left: 3px;
			}
		}
	}


	
	/* result list */

	.results {
		clear: left;
		padding-top: 2em;
		
		.navigation {
			margin-bottom: 2em;
		}
		
		ol.resultList {
			margin: 0 220px 0 0;
			padding-left: 3em;

			h1 {
				margin: 0;
				font-size: 133%;
				line-height: 133%;
			}
			
			li:target {
				background: $backgroundActive;
				border-radius: 7px;
				transition: background .5s ease-in-out;
			}
		}
	}



	/* facets */

	.facets {
		float: right;
		clear: right;
		width: 200px;
	}

	article.facet {
		margin-bottom: 2em;

		h1 {
			margin: 0;
			font-size: 100%;
			font-weight: bold;
			text-transform: uppercase;
		}

		.facetSearch {
			margin: 1em 0 0 0;
		}
		
		ol {
			list-style-type: none;
			margin: 1em 0 0 0;
			padding-left: 0;
			line-height: 150%;
		}
		
		ol.autocomplete {
			margin: 0.5em 0 0 0;
		}

		.facetList li {
			margin: 0;
			padding-left: 1em;
			text-indent: -1em;
		}

		a {
			display: block;
		}

		.facetCount {
			color: $downlight;
			font-size: 80%;
		}

		.facetActive {
			display: block;
			background: $highlight;
			border-radius: 5px;
			border: 1px solid $highlightBorder;
			line-height: 150%;
			font-weight: bold;
			text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
		}

		.facetList .facetActive {
			padding: 0;
			text-indent: 0;
			margin-bottom: 0.25em;
		}

		.facetActive {
			a {
				padding-left: 0.2em;
				color: $textInverted;
			}

			a:before {
				margin-right: 0.3em;
				margin-left: 0.1em;
			}
		}
		
		.facetShowAll {
			a {
				font-style: italic;
				color: $downlight;
			}
			
			a:hover {
				color: $current;
			}
		}

		.facetHistogram-container .facetActive {
			margin-bottom: 0.5em;
		}

		.histogram {
			position: relative;
			left: -13px;
		}

		.flot-x-axis .flot-tick-label:first-child {
			left: 13px!important;
		}
	}
	
	.facet-type-Tabs {
		@extend article.facet;

		h1 {
			display: none;
		}

		ol {
			border-bottom: 1px solid $inactive;

			li {
				display: inline-block;
				margin: 0;
				border-radius: 10px 10px 0 0;
				border: 0px none;

				a {
					padding: 1em 0.5em 0em 0.5em;
					display: inline-block;
				}
			}

			li.facetActive {
				@extend li;
				background: $tabSelected;
				color: $textInverted;

				.facetCount {
					color: $downlightInverted;
				}
			}
		}	
	}

	

	/* page browser list view */

	.tx-pagebrowse-pi1 {
		margin-right: 220px;
		text-align: center;


		* {
			margin: 0;
			padding: 0;
		}

		ol {
			display: inline;
			list-style-type: none;
			
			li {
				display: inline;

				a {
					padding: 0.4em;
				}			
			}
		}
	
		.tx-pagebrowse-current {
			font-weight: bold;
			color: $current;
		}
		
		.resultCount {
			margin-bottom: 2em;
		}
	}

	
	
	/* result count */

	.resultCount {
		float: right;
		width: 200px;
		text-align: right;
	}


	
	/* page browser single item view */

	.queryAndPager {
		margin: 1em 0 2em 0;
		
		.query {
			display: none;
		}

		.resultPager {
			display: block;
			float: right;
			
			.pager {
				color: $inactive;
				
				.icon-right-dir:before,
				.icon-left-dir:before {
					position:relative;
					top: 1px;
					width: auto;
					padding: 0 4px;
					font-size: 133%;
				}

				[class^="icon-"]:hover,
				[class*=" icon-"]:hover {
					text-decoration: none;
				}
			}
		}
	}

	

	/* field list on single item view */

	.detail h1 {
		margin-bottom: 1em;
	}
	
	dl {
		margin: 0;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin: 0.2em 0 1em 2em;

	}

	dd ul {
		margin: 0;
	}

}