@charset "UTF-8";
/* ===============================
=            Choices            =
=============================== */
.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
}

.choices:focus {
  outline: none;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices.is-open {
  overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

.choices [hidden] {
  display: none !important;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px;
}

.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}

.choices[data-type*=select-one] .choices__button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: 0.25;
}

.choices[data-type*=select-one] .choices__button:hover, .choices[data-type*=select-one] .choices__button:focus {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
  -webkit-box-shadow: 0 0 0 2px #00bcd4;
          box-shadow: 0 0 0 2px #00bcd4;
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
  display: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent #333 transparent;
  margin-top: -7.5px;
}

.choices[data-type*=select-one][dir=rtl]::after {
  left: 11.5px;
  right: auto;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
  cursor: text;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: -4px;
  margin-bottom: 0;
  margin-left: 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: 0.75;
  border-radius: 0;
}

.choices[data-type*=select-multiple] .choices__button:hover, .choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus {
  opacity: 1;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #f9f9f9;
  padding: 7.5px 7.5px 3.75px;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #b7b7b7;
}

.is-open .choices__inner {
  border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
  border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}

[dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaaaaa;
  border: 1px solid #919191;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.choices__list--dropdown, .is-active.choices__list[aria-expanded] {
  visibility: visible;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown, .is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

[dir=rtl] .choices__list--dropdown .choices__item, [dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 100px;
  }
  .choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after, [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 10px;
  }
}
.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  opacity: 0.5;
}

.choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray;
}

.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.choices__button:focus {
  outline: none;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.choices__input:focus {
  outline: 0;
}

.choices__input::-webkit-search-decoration, .choices__input::-webkit-search-cancel-button, .choices__input::-webkit-search-results-button, .choices__input::-webkit-search-results-decoration {
  display: none;
}

.choices__input::-ms-clear, .choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

[dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  opacity: 0.5;
}

/* =====  End of Choices  ====== */
/* Default SCSS for TYPO3 Extension »find« . */
.tx_find {
  /* error message */
  /* search form */
  /* result list */
  /* facets */
  /* page browser list view */
  /* result count */
  /* page browser single item view */
  /* field list on single item view */
}
.tx_find .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.tx_find .hidden {
  display: none;
}
.tx_find article.detail {
  clear: both;
}
.tx_find em.highlight {
  font-weight: bold;
  color: #f00;
}
.tx_find section.error {
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid red;
}
.tx_find form {
  position: relative;
  line-height: 150%;
}
.tx_find form .formFields {
  float: left;
}
.tx_find form .fieldContainer {
  float: left;
  clear: left;
}
.tx_find form .fieldContainer .fieldLabel {
  display: block;
  float: left;
  width: 110px;
  text-align: right;
}
.tx_find form .fieldContainer .inputContainer {
  display: block;
  margin-left: 125px;
  margin-bottom: 2px;
  line-height: 133%;
}
.tx_find form .fieldContainer input {
  padding: 2px;
  border-color: #b3b3b3 #d2d2d2 #d2d2d2 #b3b3b3;
  border-style: solid;
  border-width: 1px;
  color: #333;
  background: #f3f5f9;
}
.tx_find form .fieldContainer input.noleftmargin {
  margin-left: 0;
}
.tx_find form .fieldContainer select {
  position: relative;
  top: 2px;
}
.tx_find form .field-default .fieldLabel {
  display: none;
}
.tx_find form .field-default input {
  width: 400px;
  height: 30px;
  margin: 0 6px 2px 0;
  padding: 4px;
  font-size: 100%;
}
.tx_find form .fieldType-Text .alternate label {
  display: inline-block;
  float: none;
  width: auto;
  text-align: left;
}
.tx_find form .fieldType-Range input {
  width: 6em;
}
.tx_find form .controls {
  float: left;
  bottom: 0;
}
.tx_find form .fieldType-search input:-moz-placeholder {
  color: #999;
}
.tx_find form .submit {
  display: block;
  float: left;
  height: 30px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAfCAIAAACpqzA1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNJREFUCFtdi0EKACAMw4b/f67gQUgd28DpIaQQanPtISkwh9oijahNNl7jVvPt7fNhYTv4CFmzY9b/lgAAAABJRU5ErkJggg==") repeat-x scroll 0 100% #f3f6fb;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #b4b4b4;
  color: #555;
  font-weight: bold;
  line-height: 100%;
  padding: 3px 12px;
  margin-top: -1px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}
.tx_find form .submit:active {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAfCAIAAACpqzA1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACtJREFUCFtjuHn7PhMjIwMTAwMjEDPA2YxANgMjEg0Th9PY5LCpQ6WR7AAAU6kC/d3qDa4AAAAASUVORK5CYII=");
  background-color: #e7e9ed;
}
.tx_find form a.extendedSearch {
  line-height: 30px;
  margin-left: 0.5em;
}
.tx_find form .field-mode-extended {
  display: none;
}
.tx_find form .sortOrder, .tx_find form .resultCountPicker {
  float: right;
  margin: 5px 0 0 0.5em;
}
.tx_find form .sortOrder label, .tx_find form .resultCountPicker label {
  width: auto;
}
.tx_find form .sortOrder select, .tx_find form .resultCountPicker select {
  position: relative;
  top: 2px;
  margin-left: 3px;
}
.tx_find form.search-extended .field-mode-extended {
  display: block;
}
.tx_find .results {
  position: relative;
  clear: left;
  padding-top: 2em;
}
.tx_find .results .navigation {
  margin-bottom: 2em;
  clear: both;
}
.tx_find .results ol.resultList {
  margin: 0 220px 0 0;
  padding-left: 3em;
}
.tx_find .results ol.resultList h1 {
  margin: 0;
  font-size: 133%;
  line-height: 133%;
}
.tx_find .results ol.resultList li:target {
  background: #eef;
  border-radius: 7px;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.tx_find .facets {
  float: right;
  clear: right;
  width: 200px;
}
.tx_find div.facet, .tx_find .facet-type-Tabs {
  margin-bottom: 2em;
}
.tx_find div.facet h1, .tx_find .facet-type-Tabs h1 {
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
}
.tx_find div.facet .facetSearch, .tx_find .facet-type-Tabs .facetSearch {
  margin: 1em 0 0 0;
}
.tx_find div.facet ol, .tx_find .facet-type-Tabs ol {
  list-style-type: none;
  margin: 1em 0 0 0;
  padding-left: 0;
  line-height: 150%;
}
.tx_find div.facet ol.autocomplete, .tx_find .facet-type-Tabs ol.autocomplete {
  margin: 0.5em 0 0 0;
}
.tx_find div.facet .facetList li, .tx_find .facet-type-Tabs .facetList li, .tx_find .facet-type-Tabs .facetList ol li.facetActive, .tx_find .facet-type-Tabs ol .facetList li.facetActive {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}
.tx_find div.facet a, .tx_find .facet-type-Tabs a {
  display: block;
}
.tx_find div.facet .facetCount, .tx_find .facet-type-Tabs .facetCount {
  color: #666;
  font-size: 80%;
}
.tx_find div.facet .facetActive, .tx_find .facet-type-Tabs .facetActive {
  display: block;
  background: #f00;
  border-radius: 5px;
  border: 1px solid #b00;
  line-height: 150%;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}
.tx_find div.facet .facetList .facetActive, .tx_find .facet-type-Tabs .facetList .facetActive {
  padding: 0;
  text-indent: 0;
  margin-bottom: 0.25em;
}
.tx_find div.facet .facetActive a, .tx_find .facet-type-Tabs .facetActive a {
  padding-left: 0.2em;
  color: #fff;
}
.tx_find div.facet .facetActive a:before, .tx_find .facet-type-Tabs .facetActive a:before {
  margin-right: 0.3em;
  margin-left: 0.1em;
}
.tx_find div.facet .facetShowAll a, .tx_find .facet-type-Tabs .facetShowAll a {
  font-style: italic;
  color: #666;
}
.tx_find div.facet .facetShowAll a:hover, .tx_find .facet-type-Tabs .facetShowAll a:hover {
  color: #000;
}
.tx_find div.facet .facetHideHidden a, .tx_find .facet-type-Tabs .facetHideHidden a {
  font-style: italic;
  color: #666;
}
.tx_find div.facet .facetHideHidden a:hover, .tx_find .facet-type-Tabs .facetHideHidden a:hover {
  color: #000;
}
.tx_find div.facet .facetHistogram-container .facetActive, .tx_find .facet-type-Tabs .facetHistogram-container .facetActive {
  margin-bottom: 0.5em;
}
.tx_find div.facet .histogram, .tx_find .facet-type-Tabs .histogram {
  position: relative;
  left: -13px;
}
.tx_find div.facet .flot-x-axis .flot-tick-label:first-child, .tx_find .facet-type-Tabs .flot-x-axis .flot-tick-label:first-child {
  left: 13px !important;
}
.tx_find .facet-type-Map .mapContainer {
  height: 150px;
}
.tx_find .facet-type-Tabs h1 {
  display: none;
}
.tx_find .facet-type-Tabs ol {
  border-bottom: 1px solid #bbb;
}
.tx_find .facet-type-Tabs ol li, .tx_find .facet-type-Tabs ol li.facetActive {
  display: inline-block;
  margin: 0;
  border-radius: 10px 10px 0 0;
  border: 0 none;
}
.tx_find .facet-type-Tabs ol li a, .tx_find .facet-type-Tabs ol li.facetActive a {
  padding: 1em 0.5em 0 0.5em;
  display: inline-block;
}
.tx_find .facet-type-Tabs ol li.facetActive {
  background: #263476;
  color: #fff;
}
.tx_find .facet-type-Tabs ol li.facetActive .facetCount {
  color: #ddd;
}
.tx_find .listPager {
  margin-right: 220px;
  text-align: center;
}
.tx_find .listPager * {
  margin: 0;
  padding: 0;
}
.tx_find .listPager ol {
  display: inline;
  list-style-type: none;
}
.tx_find .listPager ol li, .tx_find .listPager .facet-type-Tabs ol li.facetActive, .tx_find .facet-type-Tabs .listPager ol li.facetActive {
  display: inline;
}
.tx_find .listPager ol li a, .tx_find .listPager .facet-type-Tabs ol li.facetActive a, .tx_find .facet-type-Tabs .listPager ol li.facetActive a {
  padding: 0.4em;
}
.tx_find .listPager .current {
  font-weight: bold;
  color: #000;
}
.tx_find .listPager .resultCount {
  margin-bottom: 2em;
}
.tx_find .resultCount {
  float: right;
  width: 200px;
  text-align: right;
}
.tx_find .queryAndPager {
  margin: 1em 0 2em 0;
}
.tx_find .queryAndPager .query {
  display: none;
}
.tx_find .queryAndPager .resultPager {
  display: block;
  float: right;
}
.tx_find .queryAndPager .resultPager .pager {
  color: #bbb;
}
.tx_find .queryAndPager .resultPager .pager .icon-right-dir:before,
.tx_find .queryAndPager .resultPager .pager .icon-left-dir:before {
  position: relative;
  top: 1px;
  width: auto;
  padding: 0 4px;
  font-size: 133%;
}
.tx_find .queryAndPager .resultPager .pager [class^=icon-]:hover,
.tx_find .queryAndPager .resultPager .pager [class*=" icon-"]:hover {
  text-decoration: none;
}
.tx_find .detail h1 {
  margin-bottom: 1em;
}
.tx_find dl {
  margin: 0;
}
.tx_find dt {
  font-weight: bold;
}
.tx_find dd {
  margin: 0.2em 0 1em 2em;
}
.tx_find dd ul {
  margin: 0;
}

#tx_find-histogram-tooltip {
  display: none;
  position: absolute;
  background: #fff;
}