/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
	overflow: hidden;
	height: auto !important;
	cursor: text;
	z-index: 999;
	margin: 0;
	padding: 0 !important;
	list-style-type: none;
	text-align: left !important;
	display: block;
}

ul.token-input-list li {
	list-style-type: none;
}

li.token-input-token {
	vertical-align: middle;
	display: inline-block !important;
	margin: 5px 0 5px 5px;
	padding: 3px 5px 0 5px !important;
	background: #dadada;
	border-radius: 5px;
	color: #000;
	border: 1px solid #999;
	text-decoration: none;
	transition: all 300ms ease-out;
}

li.token-input-token p {
	float: left;
	padding: 0;
	margin: 0;
}

li.token-input-token span {
	float: right;
	color: #000;
	cursor: pointer;
	font-weight: bold;
	padding-left: 5px;
	line-height: 18px;
}

li.token-input-token span:hover {
	color: #A31A21;
}

li.token-input-input-token {
	display: block !important;
	padding: 0;
}

li.token-input-input-token input {
	display: block;
	width: 100% !important;
	border-top: 1px solid #aeaeae;
}

li.token-input-selected-token {
	background-color: #08844e;
	color: #fff;
}

li.token-input-selected-token span {
	color: #bbb;
}

div.token-input-dropdown {
	position: absolute;
	/*width: 400px;*/
	width: calc(70% - 180px);
	background-color: #fff;
	overflow: hidden;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: default;
	font-size: 12px;
	font-family: Verdana;
	z-index: 9;
}

div.token-input-dropdown p {
	margin: 0;
	padding: 5px;
	font-weight: bold;
	color: #777;
}

div.token-input-dropdown ul {
	margin: 0;
	padding: 0;
}

div.token-input-dropdown ul li {
	background-color: #fff;
	padding: 3px;
	list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
	background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
	background-color: #fff;
}

div.token-input-dropdown ul li em {
	font-weight: bold;
	font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
	/*background-color: #dadada;*/
	background-color: #dadada;
}

div.token-input-dropdown ul li.normdata-autocomplete {
	/*background-color: #dadada;*/
	background-color: #dadada;
}

div.token-input-dropdown ul li.normdata-autocomplete:hover {
	/*background-color: #dadada;*/
	background-color: #b4b4b4;
}

@media only screen and (max-width: 1000px) {
	div.token-input-dropdown {
		position: absolute;
		/*width: 400px;*/
		width: calc(80% - 180px);
	}
}

@media only screen and (max-width: 650px) {
	div.token-input-dropdown {
		position: absolute;
		/*width: 400px;*/
		width: calc(90% - 20px);
	}
}

