.tx_find ol.resultList li {
  position: relative;
}
.tx_find ol.resultList li .locally-available .availability-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: green;
}
.tx_find ol.resultList li .locally-available div {
  display: none;
  position: absolute;
  z-index: 100;
  top: -1em;
  right: 2em;
  box-shadow: #999 2px 2px 3px;
  border: 1px solid #fff;
  padding: 0.3em;
  background: #eee;
}
.tx_find ol.resultList li:hover {
  background: #eee;
}
.tx_find ol.resultList li:hover .locally-available div {
  display: block;
  max-width: 60%;
}
.tx_find ol.resultList li:hover .locally-available div ul {
  margin: 0;
  padding-left: 2em;
}
.tx_find ol.resultList li:hover .locally-available div ul li {
  margin: 0;
}
.tx_find .facetCount {
  display: none;
}
