aside {
	float: right;
	width: 300px;
	margin: 0 0 1em 1em;
	
	aside h2 {
		display: none;
	}

	.map {
		height: 300px;
		background: #fff;
	}
}

article {
	section {
		margin-bottom: 1em;
		
		>* {
			line-height: 1.5;
			margin: 0 0 0 12em;
			padding: 0;
		}
		
		h2 {
			float: left;
			clear: left;
			width: 11em;
			margin-left: 0;
			font-size: 100%;
			text-align: right;
		}

		h3 {
			font-size: 100%;
			text-transform: uppercase;
			margin-top: 1em;
			margin-bottom: 1em;
		}
		
		ol, ul {
			padding: 0;
			list-style-type: none;
		}
		
		ol p {
			padding-left: 1em;
			text-indent: -1em;
		}

		li p {
			margin-bottom: 0.5em;
		}
		
		nav {
			margin-bottom: 1em;
			
			ol {
				li {
					display: inline;
					list-style-type: none;
				
					:after {
						content: ', ';
					}
					:last-of-type:after {
						content: '';
					}
				}
			}
		}
		
		section {
			margin: 0;
		}
	}
	
	span.bemerkung {
		font-style: italic; 
	}

	.literatur li {
		word-wrap: break-word;
		padding-left: 1em;
		text-indent: -1em;
	}

	span.ort,
	span.orden,
	span.band-nummer,
	section.person .name {
		font-weight: bold;
	}

	.zeitraum:after {
		content: ':';
	}

	.person_namensalternativen {
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}

}
